@import "./../additional_quiz/table-item/index.scss";
@mixin additional_quiz {
    .additional {
        font-family: NanumGothic;
        font-weight: bold;
        .white_board {
            display: inline-block;
            position: relative;
            background-color: #fff;
            border-radius: 17px;
            width: 1027px;
            height: 492px;
            overflow: hidden;
            /*보충*/
            .table_box {
                height: 360px;
                text-align: left;
                overflow: auto;
                margin: 22px 0px 0px 27px;
                .swiper-container {
                    overflow: visible;
                }
                .table-item {
                    &.type_1,
                    &.type_2,
                    &.type_3,
                    &.type_4,
                    &.type_5,
                    &.type_6,
                    &.type_7 {
                        .content-box>div .content .select-box {
                            line-height: 43px;
                            vertical-align: middle;
                            text-indent: 0;
                            background: #fff;
                            &>.text-box {
                                height: 45px;
                            }
                            &>.btn-drop {
                                width: 45px;
                                height: 45px;
                                background-size: 48px;
                                background-position: center -2px;
                            }
                            &>.options-box.bottom {
                                position: absolute;
                                left: 0;
                                bottom: 1px;
                                overflow: hidden;
                                border-radius: 0 0 7px 7px;
                            }
                        }
                    }
                }
                .table-item {
                    background: #fff;
                }
                .table-item {
                    &>.head>span>em {
                        width: 100%;
                        font-style: normal;
                    }
                    &>.swiper-container>.swiper-wrapper>.swiper-slide>div>.content>li.add {
                        margin-top: 0 !important;
                        margin-bottom: 5px !important;
                        padding-left: 15px;
                        line-height: 1.2;
                        &>div {
                            text-indent: 0 !important;
                        }
                        &:last-child {
                            margin-bottom: 20px !important;
                        }
                    }
                    .content>li>div {
                        text-indent: -35px;
                        padding-left: 35px;
                        &>.select-box {
                            text-indent: 0;
                            &>.options-box.top {
                                border-radius: 7px 7px 0 0;
                                left: -1px;
                                overflow: hidden;
                                top: 0 !important;
                            }
                        }
                    }
                }
                $min-height: 200px;
                $min-width: 500px;
                $head-font-size: 23px;
                $head-line-height: 40px;
                $content-font-size: 28px;
                $content-padding: 10px 15px 15px 0px;
                $radius: 10px;
                $normal: resolve("teacher/images/btn_dropdown_t_down.png");
                $on: resolve("teacher/images/btn_dropdown_t_up.png");
                $width: width("teacher/images/btn_dropdown_t_down.png");
                $height: height("teacher/images/btn_dropdown_t_down.png");
                $line-height: $height+5px;
                @include mixin_table_item( $min-height, $min-width, $head-font-size, $head-line-height, $content-font-size, $content-padding, $radius, $normal, $on, $width, $height, $line-height);
                .table-item {
                    /*position: relative;*/
                    &.type_3 {
                        .table-item-btn {
                            top: 12px;
                            right: 8px;
                            width: 34px;
                            height: 34px;
                            background-size: cover;
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
            }
            /*기본*/
            .basic_question {
                overflow: auto;
                position: relative;
                text-align: left;
                font-size: 28px;
                line-height: 51px;
                height: 385px;
                margin: 40px 0px 0px 27px;                
                .block {
                    border-bottom: 4px solid #000;
                }
                &>div {
                    margin-bottom: 40px;
                    display: flex;
                    justify-content: space-between;
                    p {
                        display: inline-block;
                    }
                    .number {
                        vertical-align: top;
                    }
                }
                &>div:last-child {
                    margin-bottom: 0px;
                }
                .answer_box {
                    width: 216px;
                    height: calc(100% / 3);
                    margin-right: 45px;
                    .sample {
                        height: 51px;
                        border-bottom: 4px solid #000;
                    }
                    .hide {
                        display: none;
                    }
                    .hint {
                        text-align: center;
                        height: 51px;
                        line-height: 57px;
                        color: rgb(0, 0, 255);
                        border-bottom: 4px solid #000;
                    }
                }
                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
            }
            /*심화*/
            .hard_question {
                overflow: auto;
                position: relative;
                text-align: left;
                font-size: 28px;
                height: 385px;
                line-height: 51px;
                margin: 40px 0px 0px 27px;  
                p {
                    display: inline-block;
                    margin-bottom: 60px;
                }
                .number {
                    vertical-align: top;
                }
                .answer_bundle {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 90px;
                    padding-left: 40px;

                    .answer_box {
                        display: inline-block;
                        width: 151px;
                        height: 55px;
                        border-bottom: 4px solid #000;
                        line-height: 47px;
                        color: rgb(0, 0, 255);
                        margin: 0px 10px;

                        .hide {
                            display: none;
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
            }
            &.done {
                .select-box {
                    &>.text-box {
                        color: #1a40e1 !important;
                    }
                    &>.options-box.on {
                        background-color: #cacaca !important;
                        color: #878787 !important;
                        &>div.on {
                            background-color: #249bfa !important;
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }
}