@mixin confirm_quiz {
    .confirm {
        font-family: NanumGothic;
        font-weight: bold;
        .white_board {
            display: inline-block;
            position: relative;
            background-color: #fff;
            border-radius: 17px;
            width: 1027px;
            height: 492px;
            &.basic {
                height: 433px;
            }
            /*보충*/
            .sup_question {
                position: relative;
                text-align: left;
                margin: 50px 32px 0px 30px;
                font-size: 32px;
                &>div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                }
                 :last-child {
                    margin-bottom: 0px;
                }
                .toggle_bundle {
                    width: width('teacher/images/TF.png');
                    height: height('teacher/images/TF.png');
                    background: resolve('teacher/images/TF.png');
                    padding: 0 5px 7px 5px;
                    cursor: pointer;
                    &>div {
                        display: inline-block;
                        width: 50%;
                        height: 100%;
                        z-index: 5;
                    }
                }
                .on_true {
                    background: resolve('teacher/images/TF_T_B.png');
                }
                .on_false {
                    background: resolve('teacher/images/TF_F_B.png');
                }
                .on_true_t {
                    background: resolve('teacher/images/TF_T_T.png');
                }
                .on_false_t {
                    background: resolve('teacher/images/TF_F_T.png');
                }
            }
            /*기본*/
            .image_box {
                position: relative;
                &>img {
                    top: 0px;
                    width: auto;
                    height: 280px;
                    margin: 10px 25px 0px 25px;
                }
            }
            /*심화*/
            .hard_question {
                position: relative;
                text-align: left;
                margin: 40px 5px 0px 30px;
                font-size: 32px;
                &>div {
                    margin-bottom: 22px;
                }
                 :last-child {
                    border-bottom: 0px;
                }
                .answer_box {
                    border-bottom: 4px solid #000;
                    width: 730px;
                    margin-left: 40px;
                    .sample {
                        height: 55px;
                        padding-bottom: 5px;
                    }
                    .hide {
                        display: none;
                    }
                    .hint {
                        height: 55px;
                        padding-bottom: 5px;
                        padding-top: 15px;
                        color: rgb(0, 0, 255);
                    }
                }
            }
        }
        .speechbubble_box {
            position: relative;
            margin-top: 20px;
            font-size: 40px;
            &>div {
                display: inline-table;
                vertical-align: middle;
                width: 590px;
                height: 70px;
                border-bottom: 4px solid #fff;
                max-height: 120px;
                &.view-hint {
                    color: rgb(255, 253, 138);
                    &:after {
                        border-right-color: rgb(13, 92, 155);
                    }
                }
                .sample {
                    height: 55px;
                }
                .hide {
                    display: none;
                }
                .hint {
                    height: 55px;
                    padding-bottom: 5px;
                    color: yellow;
                }
            }
        }
    }
}