@import '../../../share/Progress_bar.scss';
@import '../../script_container/index.scss';
@import '../../../share/sendui.scss';
@import '../../../share/QuizMCBtn.scss';
@import "./../s_typing.scss";
@mixin s_dictation {
    .s_dictation {
        font-family: NanumGothic;
        font-weight: bold;
        .dict_question {
            position: relative;
            text-align: center;
            font-size: 28px;
            left: 0px;
            top: 0px;
            height: 800px;
            width: 100%;
            .q-item {
                .sentence_box {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    width: 1110px;
                    height: 290px;
                    border-radius: 15px;
                    padding-left: 30px;
                    canvas {
                        top: 0;
                        left: 0;
                        width: inherit;
                        height: inherit;
                        border-radius: 30px;
                        position: absolute;
                        background: rgba(255,255,255,0.9);
                    }
                    .question_box {
                        position: relative;
                        top: 0;
                        left: 0;
                        line-height: 80px;
                        font-size: 40px;
                        &>p {
                            color: #000;
                            text-align: left;
                            .block {
                                text-align: center;
                                display: inline-block;
                                border-bottom: 2px solid #000;
                                min-width: 175px;
                            }
                        }
                    }
                }
                $tarea-margin-right: 50px;
                @include s_typing($tarea-margin-right);
                &>.s_typing {
                    .area-bnd {
                        max-width: 50%;
                        .answer_box {
                            position: absolute;
                            display: block;
                            font-size: 40px;
                            color: red;
                            left: 52px;
                            top: 0px;
                            line-height: 0px;
                            text-align: left;
                            visibility: hidden;
                            &.X {
                                visibility: visible;
                            }
                        }
                        .OX_box {
                            position: absolute;
                            display: inline-block;
                            background-repeat: no-repeat;
                            left: -10px;
                            font-size: 25px;
                            text-align: center;
                            z-index: 101;
                            line-height: 5 * height("common/icon_o.png") / 6;
                            width: width("common/icon_o.png");
                            height: height("common/icon_o.png");
                            &.O {
                                background-image: resolve("common/icon_o.png");
                            }
                            &.X {
                                background-image: resolve("common/icon_x.png");
                            }
                        }
                    }
                }
            }
        }
    }
}