@import '../../../share/Progress_bar.scss';
@import '../../script_container/index.scss';
@import '../../../share/sendui.scss';
@import '../../../share/QuizMCBtn.scss';
@mixin s_dictation {
            .s_dictation {
                .dict_question {
                    position: relative;
                    text-align: center;
                    font-size: 28px;
                    left: 0px;
                    top: 0px;
                    height: 800px;
                    width: 100%;
                    .swiper-container {
                        @include page;
                    }
                    .q-item {
                        .scroll{
                            overflow: auto;
                            &.key-on {
                                height: 255px;
                            }
                            &::-webkit-scrollbar {
                                width: 7px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: rgba(0, 0, 0, 0.3);
                                border-radius: 10px;
                            }
                            &::-webkit-scrollbar-track {
                                background-color: transparent;
                            }
                        }
                        &.key-on {
                            top: -205px;
                        }
                        .quiz {
                            position: relative;
                            display: flex;
                            height: 145px;
                            width: 100%;
                            padding: 0px 60px;
                            font-size: 29px;
                            font-weight: bold;
                            word-break: normal;
                            color: rgb(0, 0, 0);
                            white-space: normal;
                            margin-top: 60px;
                            &>div {
                                position: absolute;
                                top: 64px
                            }
                        }
                        .sentence_box {
                            position: relative;
                            display: inline-flex;
                            align-items: center;
                            width: 1150px;
                            height: 300px;
                            border-radius: 15px;
                            padding-left: 30px;
                            canvas {
                                top: 0;
                                left: 0;
                                width: inherit;
                                height: inherit;
                                border-radius: 35px;
                                position: absolute;
                                background: rgba(255,255,255,0.9);
                            }
                            .question_box {
                                top: 0;
                                left: 0;
                                position: relative;
                                font-size: 40px;
                                line-height: 80px;
                                &>p {
                                    color: #000;
                                    text-align: left;
                                    .block {
                                        text-align: center;
                                        display: inline-block;
                                        border-bottom: 2px solid #000;
                                        min-width: 175px;
                                    }
                                }
                            }
                        }
                        .s_typing {
                            position: relative;
                            display: flex;
                            transition: margin-top 0.3s;
                            margin-top: 23px;
                            justify-content: center;
                            padding: 0 65px;
                            .area-bnd {
                                position: relative;
                                display: flex;
                                align-items: center;
                                vertical-align: top;
                                min-width: 300px;
                                width: 100%;
                                margin-right: 50px;
                                color: #fff;
                                font-family: NotoSans;
                                font-size: 52px;
                                font-weight: bold;
                                border-bottom: 3px solid #fff;
                                .answer_box {
                                    position: absolute;
                                    display: block;
                                    font-size: 45px;
                                    color: red;
                                    left: 52px;
                                    top: 0px;
                                    line-height: 0px;
                                    visibility: hidden;
                                    &.X {
                                        visibility: visible;
                                    }
                                }
                                .OX_box {
                                    position: absolute;
                                    display: inline-block;
                                    background-repeat: no-repeat;
                                    top: 40px;
                                    left: -10px;
                                    font-size: 25px;
                                    text-align: center;
                                    z-index: 101;
                                    line-height: 5 * height("common/icon_o.png") / 6;
                                    width: width("common/icon_o.png");
                                    height: height("common/icon_o.png");
                                    &.O {
                                        background-image: resolve("common/icon_o.png");
                                    }
                                    &.X {
                                        background-image: resolve("common/icon_x.png");
                                    }
                                }
                                .index {
                                    flex: 0 0 auto;
                                }
                                .k-tarea {
                                    position: relative;
                                    width: 100%;
                                    height: auto;
                                    min-height: 64px;
                                    textarea {
                                        box-sizing: border-box;
                                        font-size: 52px;
                                        padding: 30px 35px 30px 30px;
                                        color: #fff;
                                        font-family: NotoSans;
                                        font-weight: bold;
                                        &::disabled {
                                            color: #fff;
                                        }
                                    }
                                    .k-tarea-bg {
                                        height: 0px;
                                        min-height: 100%;
                                    }
                                    .k-tarea-bar {
                                        display: none;
                                    }
                                }
                                &:last-child {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }