@import '../../../share/sendui.scss';
@import '../../../share/QuizMCBtn.scss';
@mixin s_question {
    .s_question {
        @include page;
        z-index: 2;
        background-image: resolve("student/images/bg_ls.png");
        .btn_SCRIPT {
            position: absolute;
            top: 19px;
            left: 26px;
            z-index: 2;
            @include btn_down_dis( resolve('student/images/btn_script.png'), resolve('student/images/btn_script_down.png'), resolve('student/images/btn_script.png'), width('student/images/btn_script.png'), height('student/images/btn_script.png'));
        }
        .question {
            position: absolute;
            top: 0px;
            height: 100%;
            left: 0px;
            width: 100%;
            .swiper-container {
                @include page;
            }
            .q-item {
                .quiz {
                    position: relative;
                    top: 100px;
                    height: 180px;
                    width: 100%;
                    text-align: center;
                    /* background-color: rgba(0, 0, 0, 0.2); */
                    padding: 0px 30px;
                    &>div {
                        position: absolute;
                        top: -50px;
                        transform: translateY(-50%);
                        left: 20px;
                        display: inline-block;
                        white-space: normal;
                        word-break: normal;
                        line-height: 120%;
                        font-size: 55px;
                        color: rgb(0, 0, 0);
                        /* background-color: rgba(255, 0, 0, 0.2); */
                    }
                }
                .choice {
                    position: absolute;
                    top: 315px;
                    text-align: center;
                    white-space: normal;
                    .image {
                        position: relative;
                        background-color: gray;
                        float: left;
                        width: 218px;
                        height: 249px;
                        margin: 104px;
                        bottom: 210px;
                    }
                    .btn_choice {
                        @include btn_on( resolve('student/images/box_select_s.png'), resolve('student/images/box_select_down_s.png'), width('student/images/box_select_s.png'), height('student/images/box_select_s.png'));
                        position: relative;
                        @include quiz-btn-mc;
                        font-size: 40px;
                        font-family: NotoSans;
                        text-align: left;
                        padding: 0px 70px;
                        color: rgb(0, 0, 0);
                        margin-bottom: 11px;
                        &.correct {
                            background-image: resolve('student/images/box_select_correct_s.png');
                        }
                        &.wrong {
                            background-image: resolve('student/images/box_select_wrong_s.png');
                        }
                        &.on {
                            &::after {
                                top: 4px;
                            }
                        }
                    }
                }
            }
            .box {
                position: absolute;
                top: 450px;
                text-align: center;
                white-space: normal;
                .num {
                    position: relative;
                    background-color: white;
                    width: 40px;
                    height: 40px;
                    border: 2px solid #000;
                    margin: 20px;
                    float: left;
                    font-size: 24px;
                }
            }
        }
        .btn_next {
            position: absolute;
            top: 355px;
            right: 12px;
            z-index: 2;
            @include btn_down_dis( resolve('student/images/btn_next.png'), resolve('student/images/btn_next_down.png'), resolve('student/images/btn_next.png'), width('student/images/btn_next.png'), height('student/images/btn_next.png'));
        }
        .fel_toteacher {
            @include fel_toteacher;
            position: absolute;
            bottom: 7px;
            right: 7px;
        }
    }
}