@mixin share-result($color_ga, $color_na) {
	.share_result{

		@include page;
		color:#fff;

		.title-result{
			position: absolute;	
			top: 77px; 
			left: 0px; width: 100%;
			text-align: center;
			font-size: 40px;
			color: rgb(255, 255, 255);
			text-transform: uppercase;
			line-height: 1.2;
		}
		.result_btn_box{
			position: absolute;
			white-space: nowrap;
			right: 82px;
			top: 54px;
			height: 39px;
			z-index: 11;
			padding:1px;


			.btn_q{
				display: inline-block;
				vertical-align: top;
				@include btn_on_dis(
					resolve('digenglish_lib/images/result/btn_Q.png'),
					resolve('digenglish_lib/images/result/btn_Q_on.png'),
					resolve('digenglish_lib/images/result/btn_Q_on.png'),
					width('digenglish_lib/images/result/btn_Q.png'),
					height('digenglish_lib/images/result/btn_Q.png')
				);
			}
			.btn_s{
				margin-left: 6px;
				display: inline-block;
				vertical-align: top;
				@include btn_on_dis(
					resolve('digenglish_lib/images/result/btn_S.png'),
					resolve('digenglish_lib/images/result/btn_S_on.png'),
					resolve('digenglish_lib/images/result/btn_S_on.png'),
					width('digenglish_lib/images/result/btn_S.png'),
					height('digenglish_lib/images/result/btn_S.png')
				);
			}

		}
		.icon_result_group {
			position: absolute;
			top: 40px;
			left: 61px;
			background: resolve('digenglish_lib/images/result/icon_team_info.png');
			width:  width('digenglish_lib/images/result/icon_team_info.png');
			height:  height('digenglish_lib/images/result/icon_team_info.png');
		}
		.icon_inclass_info {
			position: absolute;
			top: 40px;
			left: 61px;
			background: resolve('digenglish_lib/images/result/result_inclass_info.png');
			width:  width('digenglish_lib/images/result/result_inclass_info.png');
			height:  height('digenglish_lib/images/result/result_inclass_info.png');
		}
		.icon_result_info {
			position: absolute;
			top: 40px;
			left: 61px;
			background: resolve('digenglish_lib/images/result/result_info.png');
			width:  width('digenglish_lib/images/result/result_info.png');
			height:  height('digenglish_lib/images/result/result_info.png');
		}

		.question{
			position:absolute; top: 192px; left: 89px;
			right: 89px; height: 520px;
			.q_title{
				padding-left: 27px;
				height: 30px;
				&>span{
					display:inline-block;
					vertical-align: top;
					font-size:14px;
					width: 87px;
					text-align: left;
				}
			}
			.swiper-container{
				position: relative;
				left: 0px; width: 100%;
				height: 520px;
				.swiper-scrollbar{
					background-color: rgba(0, 0, 0, 0.2);
					width:8px;
					.swiper-scrollbar-drag{
						background-color: rgba(255, 255, 255, 0.6) !important;
					}
				}
				.q_item{
					cursor:pointer;
					font-size:0px;
					position: relative; top: 0px;
					height: 52px;
					&>span{
						display:inline-block;
						vertical-align: top;
					}
					&>span:nth-child(1){
						width: 30px;
						font-size: 18px;
						font-weight: bold;
						text-align: left;
						/*
						width: 45px;
	
						font-size: 20px;
						font-weight: bold;
						text-align: center;
						*/
					}
					&>span:nth-child(2){
						position: relative;
						top: 4px;
						width: 897px;
						height: auto;
						&>span{
							position: relative;
							display: block;
							overflow:hidden;
							border-radius: 15px;
							background-color: rgba(255, 255, 255,0.1);
							height: 20px;
	
							&>span{
								position: relative;
								display: inline-block;
								vertical-align: top;
								background-color: #F4FF41;
								height: 100%;
								font-size: 16px;
								border-radius: 15px;
								/*
								border-top-right-radius: 4px;
								border-bottom-right-radius: 4px;
								*/
								&>span.inner{
									color: rgb(20, 47, 94);
									position: absolute;
									top: -2px;
									right: 0px;
									padding: 0px 10px;
								}
								&>span.outer{
									color: #000;
									position: absolute;
									top:-2px;left:100%;
									padding: 0px 10px;
								}
							}
						}
					}
					&>span:nth-child(3){
						width: 130px; padding:0px 15px;
						font-size: 18px; font-weight: normal;
  						overflow: hidden; text-overflow: ellipsis;
					}
	
	
					&.preview{
						&>span:nth-child(2){
							&>span{
								height: 8px;
								&>span{
									font-size: 8px;
									line-height: 100%;
									&>span{
										top: -1px;
									}
								};
							}
	
							&>span.preclass{
								margin-top: 4px;
								&>span{
									background-color: rgb(0, 202, 162);
								}
							}
						}
					}
				}
			}
		}
		.student{
			position:absolute; top: 192px; left: 80px; width: 1115px;
			font-size:0px;
			.icon_info{
				position:absolute;
				opacity: 0;

				width: width("digenglish_lib/images/result/icon_team_info.png");
				height: height("digenglish_lib/images/result/icon_team_info.png");
				background-image: resolve("digenglish_lib/images/result/icon_team_info.png");
			}
			.list{
				height: 57px;
				text-align: center;
				&>span:nth-child(1){
					display: inline-block;
					vertical-align: top;
					text-align: center;
					width: 40px;
					height: height("digenglish_lib/images/result/icon_gold.png");
					background-repeat: no-repeat;
					margin-right: 10px;
					&.grade{	 /* 19-02-08 190125_검수사항 p.15 수정*/
						background-color: transparent;
						font-size: 20px;
						color: transparent;
					}
					&.grade1{
						color: transparent;
						background-image: resolve("digenglish_lib/images/result/icon_gold.png");
					}
					&.grade2{
						color: transparent;
						background-image: resolve("digenglish_lib/images/result/icon_silver.png");
					}
					&.grade3{
						color: transparent;
						background-image: resolve("digenglish_lib/images/result/icon_bronze.png");
					}
				}
				&>span:nth-child(2){
					position: relative;
					display: inline-block;
					vertical-align: top;
					width: 162px;
					text-align: left;
					font-size:20px;
					&>span {
						float: right;
					}
				}

				&>span:nth-child(3){
					font-size: 20px;
					display: inline-flex;
					vertical-align: top;
					margin-top:5px;
					margin-left: 5px;
					width: auto;
					&>span{
						width: 87px;
						flex: 1;
						text-align: center;
						height:22px;
						margin-left:1px;

						border-radius: 5px;
						&.correct{
							background-color: #56F9FF;
						}
						&.wrong{
							background-color: rgba(0, 0, 0, 0.1);
						}

						&.unum{
							cursor: pointer;
						}
					}
				}

				&.ga{
					&>span:nth-child(3)>span.correct{
						background-color: $color_ga;
					}
				}
				&.na{
					&>span:nth-child(3)>span.correct{
						background-color: $color_na;
					}
				}
			}

			&>div.list{
				height: 30px;
				position: relative;
				top: -10px;
			}

			&>.swiper-container {
				position: relative;
				left: 0px;
				width: 100%;
				height: 480px;

				.swiper-slide{
					height: auto !important;
				}
				.swiper-scrollbar{
					background-color: rgba(0, 0, 0, 0.2);
					width:8px;
					margin-right: 2px;
					.swiper-scrollbar-drag{
						background-color: rgba(255, 255, 255, 0.6) !important;
					}
				}

				.average{
					display:none;
					position: absolute;
					left:178px; width: 915px;
					top: 5px; bottom: 27px;
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;

					&>div{
						position: absolute;
						left:-13px;
						top:0px;height: 100%;
						border-radius: 15px;
						background-color: rgba(255, 252, 0, 0.3);
						/* border-right: 5px dotted rgba(255, 252, 0, 0.5); */
					}
				}
			}


			&.s-group{
				left: 75px;
				top: 190px;
				&>.average{
					position:absolute;
					top: -15px;
					left: 175px; width: 892px;
					&>.icon_average {
						position: absolute;
						margin-left: -23px;
						background-image: resolve('digenglish_lib/images/result/icon_average.png');
						width: width('digenglish_lib/images/result/icon_average.png');
						height: height('digenglish_lib/images/result/icon_average.png');
						font-size: 12px;
						&>span:nth-child(1) {
							display: inline-block;
							position: absolute; top: -40px; left: 1px;
						}
						&>span:nth-child(2) {
							display: inline-block;
							position: absolute; top: -23px; left: 7px;
							color: rgb(243, 221, 103);
						}
					}
				}

				.icon_info{
					opacity: 1;
					left: -14px;
					top: -150px;
				}
				.list{
					height: 52px;
					text-align: left;
					/*
					&>span:nth-child(1){

					}
					*/
					&>span:nth-child(2){
						width: 110px;
					}
	
					&>span:nth-child(3){
						font-weight: normal;
						font-size: 16px;
						width: 905px;
						height: 20px;
						&.percent {	
							position: relative;
							display: inline-block;
							background-color: rgba(250,250,250,0.1);
							border-radius: 15px;
							&>span {
								position: relative;
								display: inline-block;
								vertical-align: top;
								border-radius: 15px;
								height: 100%;
								font-size: 16px;
								&>span.inner{
									color: rgb(20, 47, 94);
									position: absolute;
									top: -2px;
									right: 0px;	
									padding: 0px 10px;
								}
								&>span.outer{
									color: #000;
									position: absolute;
									top:-2px;left:100%;
									padding: 0px 10px;
								}
							}					
						}
					}
					&.ga{
						&>span:nth-child(3){
							&.percent {	
								&>span{
									background-color: $color_ga;
								}
							}
						}
					}
					&.na{
						&>span>span {
							background-color: $color_na;
						}
					}

				}
				.list-g{
					position: relative;
					font-size: 16px;
					font-weight: normal;
					left: 90px;
					width: auto;
					height: 34px;
					white-space: nowrap;
					&>span{
						display: inline-block;
						width: 90px;
						text-align: right;
					}
				}

				.average{
					display: inline-block;
				}
			}
		}
		.question_g{
			@include page;
				background: resolve('digenglish_lib/images/result/bg_group_result.png');
				width: 100%;
				height: height('digenglish_lib/images/result/bg_group_result.png');
			.point{
				position: absolute;
				width: 130px;height:70px;
				top: 93px; 
				padding-top: 12px;
				font-size: 50px;
				font-weight: bold;
				text-align: center;
				&.ga{
					left: 341px;
					color: $color_ga;
				}
				&.na{
					right: 232px;
					color: $color_na;
				}
			}
			.icon_win{
				position:absolute;
				top: 58px;

				background: resolve('digenglish_lib/images/result/icon_crown.png');
				width: width('digenglish_lib/images/result/icon_crown.png');
				height: height('digenglish_lib/images/result/icon_crown.png');

				&.ga{
					left: 246px;
				}
				&.na{
   					 right: 377px;
				}
			}

			.q_list{
				height: auto !important;
				padding-left:1px;
				position: relative;	top: 193px;
				.q_g_item{
					width: 100%;
					text-align: center;
					font-size:0px;
					height: 51.8px;
					&>div{
						display: inline-block;
						vertical-align: middle;

						&.box{
							position: relative;
							display:inline-block;
							vertical-align: top;
							width:505px;
							height: 22px;
						
							&>span{
								cursor: pointer;
								position: relative;
								display: inline-block;
								vertical-align: top;
								height: 100%;
								border-radius: 11px;
								&>span{
									font-size: 16px;
									line-height: 20px;
									color: #000;
								}
							}
						}
						&.box.ga{
							text-align: right;
							border-radius: 10px;
							margin-top: 7px;
							background-color: rgba(255, 255, 255,0.1);
							width: 497px;
							height: 22px;
						  
							&>span{
								background-color: $color_ga;
								&>span{
									position: absolute;
									right: 10px;
								}
							}
						}
						&.box.na{
							text-align: left;
							border-radius: 10px;
							margin-top: 7px;
							background-color: rgba(255, 255, 255,0.1);
							width: 497px;
							height: 22px;

							&>span{
								background-color: $color_na;
								&>span{
									position: absolute;
									left: 10px;
								}
							}
						}
						&.qnum{
							width: 79px;
							padding-top: 0px;
							font-size: 20px;
							font-weight: bold;
							cursor: pointer;
						}				
					}
					/* 10문제 이상일 경우 */
					&.small {
						height: 33.5px;
						&>div.box { 
							height: 16px;
							&>span {
								font-size: 16px;
								&>span { top: -4px; }
							}
						}
						&>div.qnum { 
							padding-top: 3px;
							font-size: 16px; 
							font-weight: normal;
						}
					}
				}
			}
		}

		.common_back{
			position: absolute;
			right:5px;
			bottom:3px;
		}
	}
}
