@mixin share-student-unscramble{
	.target-container {
		position: absolute;
		top: 0px; left: 80px; right: 80px;
		text-align: center;
		font-size: 55px;
		line-height: 160%;
		.target-wrapper{
			width: 100%;
			height: 320px;
			position: relative;
			top: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			.btn_audio { display: none; }
			.target-box {
				white-space: pre-wrap;
				word-break: keep-all;

				&>div{
					display: inline-block;
					white-space: nowrap;
					vertical-align: top;
					color:#000;
					line-height: 94px;
					&>.target {
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						white-space: nowrap;
						border-bottom: 4px solid rgb(17, 17, 116);
						width: 180px;
						color: transparent;
						box-sizing: border-box;
						text-align: center;

						&.on{
							width: auto;
							color: #000;
							padding: 0px 10px;
						}
					}
				}
			}
			&.view-answer{
				line-height: 94px;
				.target-box{
					&>div{
						display: inline-block;
						white-space: normal;
						line-height: 94px;
						vertical-align: top;
						&> span {
							vertical-align: top;
							line-height: 94px;
						}
						&>.target {
							color: #000;
							line-height: 94px;
							display: inline;
							white-space: normal;
							&.wrong{
								display: inline-block;
								white-space: nowrap;
								color: #f00;
								height: 80px;
								vertical-align: top;
								/* border-bottom-color: #f00; */
							}

							&.on{
								display: inline;
								white-space: normal;
								border-bottom-color: transparent;
								overflow: visible;
								padding: 0px 0px;
							}
							&.wrong.on{
								display: inline;
								white-space: normal;
								border-bottom-color: transparent;
								overflow: visible;
								padding: 0px 0px;
							}

						}
					}	
					

				}

				&.hide-answer-box{
					top: 400px;
					transform: translateY(-50%);
				}
			}
		}
		.answer-wrapper{
			cursor: pointer;
			width: 100%;
			height: 320px;
			position: absolute;
			top: 475px;
			line-height: 120%;
			.btn_answer{	/* 정답 화살표 대신 answer버튼으로 변경해야함 */
				@include btn_on_dis(
					resolve('digenglish_lib/images/quiz/icon_answer.png'),
					resolve('digenglish_lib/images/quiz/icon_answer.png'),
					resolve('digenglish_lib/images/quiz/icon_answer.png'),
					width('digenglish_lib/images/quiz/icon_answer.png'),
					height('digenglish_lib/images/quiz/icon_answer.png')
				);
				background-size: cover;
				position: absolute;	left: -10px; top: -55px;		
			}

			.answer-box {
				position: relative;
				&>div{
					display: inline;
					white-space: normal;
					vertical-align: middle;
					.wrong{
						color: #00f;
					}
				}
			}
		}
	}
	.source-container {
		width: 100%;
		position: absolute;
		top: 590px;
		height: auto;
		transform: translateY(-50%);
		color: rgb(0, 0, 0);
		text-align: center;
		padding: 0px 30px;
		.source-box{
			position: relative;
			display: inline-block;
			white-space: pre-line;
			height: auto;
			&>span{
				display: inline-block;
				position: relative;
				vertical-align: top;
				font-size: 40px;
				font-weight: normal;
				margin: 16px 30px;
				height: 80px;
				line-height: 82px;
				padding: 0px 25px;
				cursor: pointer;
				white-space: nowrap;
				background-color: #E6F0F4;
				border-radius: 20px;
				box-shadow: 0px 6px 0px #AAB3B9;

				&.on{
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}	
}

@mixin share-teacher-unscramble{
	.target-container {
		position: absolute;
		left: 120px; width: 1042px;	
		top: 150px; height: 320px;	
		border-radius: 25px;
		background-color: rgba(0, 0, 0, 0.45);
		font-size: 36px;
		color: rgb(250,250,250);
		text-align: center;
		padding: 0px 35px;
		
		.target-wrapper{
			width: 100%;
			height: auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			&.view-answer{
				display: none;
			}
			.target-box {
				white-space: pre-wrap;
				word-break: keep-all;
				&>div{
					display: inline-block;
					white-space: nowrap;
					vertical-align: top;
					&>.target {
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						white-space: nowrap;
						border-bottom: 4px solid #fff;
						width: 126px;
						color: transparent;
						box-sizing: border-box;
						text-align: center;
	
						&.on{
							/* min-width: 210px; */
							width: auto;
							color: rgb(250,250,250);
							padding: 0px 10px;
						}
					}
				}
			}
		}

		.answer-wrapper{
			width: 100%;
			height: auto;
			position: relative;	top: 50%; transform: translateY(-50%);
			padding: 0px 0px 0px 0px;
			margin-top: 35px;
		}

		.answer-box {
			cursor: pointer;
			position: relative;
			font-size: 42px;
			font-weight: normal;
			white-space: normal;
			&>div{
				display: inline-block;
				vertical-align: middle;
			}
		}

	}
	.source-container {
		width: 100%;
		position: absolute;
		top: 630px;
		height: auto;
		transform: translateY(-50%);
		color: rgb(0, 0, 0);
		text-align: center;
		padding: 0px 100px;
		.source-box{
			position: relative;
			display: inline-block;
			white-space: pre-line;
			height: auto;
			&>span{
				display: inline-block;
				position: relative;
				vertical-align: top;
				font-size: 34px;
				font-weight: bold;
				margin: 16px 20px;
				height: 77px;
				line-height: 77px;
				padding: 0px 25px;
				cursor: pointer;
				white-space: nowrap;
				background-color: #E6F0F4;
				border-radius: 5px;
				box-shadow: 0px 6px 0px #AAB3B9;

				&.on{
					opacity: 0;
					pointer-events: none;
				}
				/* transform: translate(30px, 40px); */
			}
		}
	}

}
