@import '../../../share/sendui.scss';
@import '../../../share/QuizMCBtn.scss';
@import './s_basic.scss';
@mixin s_question {
    .s_question {
        @include page;
        z-index: 2;
        background-image: resolve("student/images/bg_ls.png");
        .btn_SCRIPT {
            position: absolute;
            top: 19px;
            left: 26px;
            z-index: 2;
            @include btn_down_dis( resolve('student/images/btn_script.png'), resolve('student/images/btn_script_down.png'), resolve('student/images/btn_script.png'), width('student/images/btn_script.png'), height('student/images/btn_script.png'));
        }
        .question {
            position: absolute;
            top: 0px;
            height: 100%;
            left: 0px;
            width: 100%;

            span.word {
                display: inline-block;
                white-space: nowrap;
                padding: 0px 6px;
            }
            .swiper-container {
                @include page;
            }
            .q-item {
                /*basic*/
                @include s_basic;
                /*supplement*/
                .sup_question {
                    position: relative;
                    text-align: left;
                    font-size: 28px;
                    padding: 0px 25px;
                    height: 800px;

                    &>div{
                        position: relative;
                    }
                    .quiz {
                        position: relative;
                        height: 120px;
                        width: 100%;
                        padding: 0px 30px;
                        font-size: 29px;
                        font-weight: bold;
                        word-break: normal;
                        color: rgb(0, 0, 0);
                        white-space: normal;
                        margin-bottom: 55px;
                        &>div{
                            position: absolute;
                            top: 64px
                        }
                    }
                    .white_box {
                        display: flex;
                        justify-content: space-between;
                        width: 1150px;
                        margin: 25px auto;
                        background: #fff;
                        border-radius: 15px;
                        height: 100;
                        line-height: 90px;
                        padding: 0 25px;
                        font-size: 38px;
                        &>span {
                            display: inline-block;
                            vertical-align: top;
                            width: width("common/icon_o.png");
                            height:  height("common/icon_o.png");
                            background-repeat: no-repeat;
                            background-position: 50% 50%; 
            
                            line-height: 5 * height("common/icon_o.png") / 6;
                            &.O{
                                background-image: resolve("common/icon_o.png");
                            }
                            &.X{
                                background-image: resolve("common/icon_x.png");
                            }
                            
                            font-size: 34px; font-weight: bold; color: rgba(255, 255, 255, 0.4);
                            &.on {
                                color: rgb(248, 246, 77);
                            }
                        }
                        &.off{display: none;}
                        
                        &>p{
                            line-height: 90px;
                        }
                        .toggle_bundle {
                            width: width('teacher/images/btn_true_false.png');
                            height: height('teacher/images/btn_true_false.png');
                            background: resolve('teacher/images/TF.png');
                            padding: 0 5px 7px 5px;
                            margin: auto 0;
                            &>div {
                                display: inline-block;
                                width: 50%;
                                height: 100%;
                                z-index: 5;
                                cursor: pointer;
                            }
                        }
                        .on_true {
                            background: resolve('teacher/images/TF_T.png');
                        }
                        .on_false {
                            background: resolve('teacher/images/TF_F.png');
                        }
                    }
                }
                .hard_question {
                    position: relative;
                    text-align: left;
                    font-size: 28px;
                    padding: 0px 25px;
                    height: 800px;

                    &>div{
                        position: relative;
                    }
                    .quiz {
                        position: relative;
                        height: 120px;
                        width: 100%;
                        padding: 0px 30px;
                        font-size: 29px;
                        font-weight: bold;
                        word-break: normal;
                        color: rgb(0, 0, 0);
                        white-space: normal;
                        margin-bottom: 55px;
                        &>div{
                            position: absolute;
                            top: 64px
                        }
                    }
                    
                    .hard_question_box{
                        position: relative;
                        width: 1150px;
                        height: 300px;
                        border-radius: 15px;
                        canvas{
                            top: 0;
                            left: 0;
                            width: inherit;
                            height: inherit;
                            border-radius: 35px;
                            position: absolute;
                            background: #000;
                            opacity: 0.3;
                        }
                        .black_sentence{
                            top: 0;
                            left: 0;
                            position: absolute;
                            font-size: 38px;
                            &>p{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn_next {
        position: absolute;
        @include btn_down_dis( resolve('student/images/btn_next.png'), resolve('student/images/btn_next_down.png'), resolve('student/images/btn_next.png'), width('student/images/btn_next.png'), height('student/images/btn_next.png'));
        top: 355px;
        right: 12px;
        z-index: 2;
    }
    .fel_toteacher {
        position: absolute;
        @include fel_toteacher;
        bottom: 7px;
        right: 7px;
    }
}