@import '../../../share/sendui.scss';
@import '../../../share/QuizMCBtn.scss';
@import './s_basic.scss';
@import "./../s_typing.scss";
@mixin s_confirm {
        .s_confirm {
            /*basic*/
            @include s_basic;
            /*supplement*/
            .supplement {
                position: relative;
                text-align: left;
                font-size: 28px;
                height: 800px;
                width: 100%;
                .quiz {
                    position: relative;
                    display: flex;
                    height: 145px;
                    width: 100%;
                    padding: 0px 60px;
                    font-size: 34px;
                    font-weight: bold;
                    word-break: normal;
                    color: rgb(0, 0, 0);
                    white-space: normal;
                    margin-top: 88px;
                    &>div {
                        position: absolute;
                        top: 60px;
                    }
                }
                .white_box {
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    margin: 25px auto;
                    width: width('student/images/box_TF_s.png');
                    height: height('student/images/box_TF_s.png');
                    background: resolve("student/images/box_TF_s.png");
                    line-height: 90px;
                    padding: 0 25px;
                    font-size: 38px;
                    &>span {
                        position: absolute;
                        display: inline-block;
                        vertical-align: top;
                        width: width("common/icon_o.png");
                        height: height("common/icon_o.png");
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        left: 3px;
                        margin-top: 20px;
                        line-height: 5 * height("common/icon_o.png") / 6;
                        &.O {
                            background: resolve("common/icon_o.png");
                        }
                        &.X {
                            background: resolve("common/icon_x.png");
                        }
                        font-size: 34px;
                        font-weight: bold;
                        color: rgba(255, 255, 255, 0.4);
                        &.on {
                            color: rgb(248, 246, 77);
                        }
                    }
                    &.off {
                        display: none;
                    }
                    &>p {
                        line-height: 100px;
                    }
                    .toggle_bundle {
                        width: width('teacher/images/TF.png');
                        height: height('teacher/images/TF.png');
                        background: resolve('teacher/images/TF.png');
                        padding: 0 5px 7px 5px;
                        margin: auto 0;
                        &>div {
                            display: inline-block;
                            width: 50%;
                            height: 100%;
                            z-index: 5;
                            cursor: pointer;
                        }
                    }
                    .on_true { background: resolve('teacher/images/TF_T_B.png');
                    }
                    .on_false {
                        background: resolve('teacher/images/TF_F_B.png');
                    }
                    .on_true_t {
                        background: resolve('teacher/images/TF_T_T.png');
                    }
                    .on_false_t {
                        background: resolve('teacher/images/TF_F_T.png');
                    }
                    .on_true_f {
                        background: resolve('teacher/images/TF_F_F.png');
                    }
                    .on_false_f {
                        background: resolve('teacher/images/TF_T_F.png');
                    }
                }
            }
            .hard {
                position: relative;
                text-align: center;
                font-size: 28px;
                left: 0px;
                top: 0px;
                height: 800px;
                width: 100%;
                .q-item {
                    .sentence_box {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        text-align: left;
                        width: 1110px;
                        height: 290px;
                        border-radius: 15px;
                        padding: 0px 110px;
                        canvas {
                            top: 0;
                            left: 0;
                            width: inherit;
                            height: inherit;
                            border-radius: 30px;
                            position: absolute;
                            background: rgba(0,0,0,0.3);
                        }
                        .question_box {
                            top: 0;
                            left: 0;
                            position: relative;
                            font-size: 40px;
                            line-height: 80px;
                            &>p {
                                color: #fff;
                            }
                            .hint{
                                color: #f8f64d;
                                margin-left: 35px;
                                .block {
                                    display: inline-block;
                                    border-bottom: 2px solid #f8f64d;
                                    width: 150px;
                                }
                            }
                            .no_hint {
                                display: none;
                            }
                        }
                    }
                    @include s_typing();
                    &>.s_typing {
                        padding: 0 190px;
                        .area-bnd { margin-right: 5px;}
                    }
                }
            }
        }
    }