@import '../../../share/sendui.scss';
@import '../../../share/QuizMCBtn.scss';
@mixin s_basic {
    .basic_question{
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 800px;
        
        .basic_place {
            position: relative;
            width: 1200px;
            height: 620px;
            top: 100px;
            border-radius: 20px;
            background: #fff;
            left: 40px;
            
            .quiz {
                position: relative;
                height: 120px;
                width: 100%;
                padding: 0px 30px;
                font-size: 29px;
                font-weight: bold;
                word-break: normal;
                color: rgb(0, 0, 0);
                white-space: normal;
                &>div{
                    position: absolute;
                    top: 64px
                }                            
            }

            .draggable_place{
                position: relative;
                width: 1200px;
                height: 495px;

                .img_bundle {
                    position: absolute;
                    display: inline-block;
                    white-space: normal;
                    left: 26px;
                    &>div{
                        position: relative;
                        display: inline-block;
                    }
                    .image {
                        float: left;
                        width: 324px;
                        height: 300px;
                        margin: 30px;
                        object-fit: contain;
                    }
                    .number_box{
                        position: absolute;
                        display: inline-block;
                        background-repeat: no-repeat;
                        font-size: 25px;
                        text-align: center;

                        line-height: 5 * height("common/icon_o.png") / 6;
                        width: width("common/icon_o.png");
                        height:  height("common/icon_o.png");
                        
                        &.O{
                            background-image: resolve("common/icon_o.png");
                        }
                        &.X{
                            background-image: resolve("common/icon_x.png");
                        }
                    }
                    .answer{
                        text-align: center;
                        font-size: 24px;
                        color: orangered;

                        &.hide{
                            display: none;
                        }
                    }
                }
                .box {
                    position: absolute;
                    background-color: white;
                    text-align: center;
                    color: orangered;
                    float: left;
                    width: 65px;
                    height: 65px;
                    line-height: 55px;
                    border: 3px solid #000;
                    border-radius: 10px;
                    font-size: 42px;

                    &.hide{
                        display: none;
                    }
                }
            }
        }
    }
}