@import '../../../share/sendui.scss';
@import '../../../share/Progress_bar.scss';
@import '../../script_container/index.scss';
@import '../t_video_box/index.scss';

@import '../../../share/QuizMCBtn.scss';

@mixin confirm_quiz{
	.question_bg{
		padding-top:10px;
		margin:0 auto;
		position:relative;
		width: 1150px;
		height: 600px;
		
		.closed_hint{
			display:none;
		}
		
		.btn_hint{
			@include btn_on(
				resolve('teacher/images/btn_hint.png'),
				resolve('teacher/images/btn_hint_down.png'),
				width('teacher/images/btn_hint.png'),
				height('teacher/images/btn_hint.png'),
			);
			position:absolute;
			right:20px;
			top:65px;
			z-index: 2;
		}

		.quiz_box{
			position: absolute;
			top: 50px; bottom: 0px;
			left: 0px; right: 0px;
			text-align: center;
			letter-spacing: -0.6px;
			white-space: normal;
			width: bold;
			font-size: 28px;

			span.word{
				display: inline-block;
				padding: 0px 6px;
				white-space: nowrap;
			}
			
			.white_board{
				display: inline-block;
				background-color: #fff; 
				border-radius: 10px; 
				width: 950px;
				height: 400px;
				position: relative;

				.sentence_box{
					height: 80px;
					position: relative;

					&>div{
						display: inline-block;
						transform: translateY(-50%);
						margin-top: 50px;
	
						.btn_audio{
							@include btn_on(
								resolve('teacher/images/btn_speaker.png'),
								resolve('teacher/images/btn_speaker_on.png'),
								width('teacher/images/btn_speaker.png'),
								height('teacher/images/btn_speaker.png')
							);
							vertical-align: top;
							margin-top: 12px;
							margin-right: 12px;
						}
						.question_box{
							text-align: left;
							display: inline-block;
							vertical-align: top;
	
							max-width: 1000px;
						}
	
					}
				}
	
				.image_box{
					position:relative;
					margin-top: 40px;
					height: 260px;
					display: inline-block;
	
					&>img{
						float: left;
						top: 0px; left: 0px;
						width: 252px;
						height: 249px;
						margin: 0px 10px;
					}
				}
			}

			.speechbubble_box{
				position: relative;
				margin-bottom: 20px;
				padding: 0 20px;

				&>div{
					display: inline-table;
					&>div{
						display: table-cell;
						vertical-align: middle;
					}
					&.view-hint{
						background-color: rgb(13, 92, 155); 
						color: rgb(0,240,255);
						&:after{
							border-right-color: rgb(13, 92, 155); 
						}
					}
				}
				.swiper-container {	
					width: 885px;
					border-bottom: 2px solid #fff;

					.swiper-scrollbar{
						width: 9px;
						right: 3px;
						top: 5%;
						height: 90%;
						background-color: transparent;
						.swiper-scrollbar-drag {
							background-color: rgba(0, 0, 0, 0.25);
						}
					}
					&>div{
						width: 850px;
						max-height: 120px;

						.sample{
							min-height: 55px;
							padding-bottom: 5px;
							span.block{
								color: transparent;
								border-bottom: 2px solid #fff;
							}
						}
						.hide{
							display: none;
						}
						.hint{
							min-height: 55px;
							padding-bottom: 5px;
							span.block{
								display: inline;
								border-bottom: 2px solid rgb(0,240,255);
							}
						}
					}
				}
			}
		}
	}
}
