@import '../../../share/sendui.scss';
@import '../../../share/Progress_bar.scss';
@import '../../script_container/index.scss';
@import '../t_video_box/index.scss';
@import '../../../share/QuizMCBtn.scss';
@mixin confirm_quiz {
    .question_bg {
        padding-top: 10px;
        margin: 0 auto;
        position: relative;
        width: 1150px;
        height: 600px;
        .closed_hint {
            display: none;
        }
        .subject_rate {
            position: absolute;
            width: 87px;
            height: 26px;
            top: -80px;
            left: 4px;
            background-image: resolve('teacher/images/sub_rate.png');
        }
        .correct_answer_rate {
            position: absolute;
            width: 118px;
            height: 26px;
            left: 97px;
            top: -80px;
            background-image: resolve('teacher/images/correct_answer_rate.png')
        }
        .correct_answer {
            @include btn_on(resolve('teacher/images/C_answer.png'), resolve('teacher/images/C_answer.png'), width('teacher/images/C_answer.png'), height('teacher/images/C_answer.png'));
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 2;
        }
        .quiz_box {
            position: absolute;
            text-align: center;
            white-space: normal;
            top: 50px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            letter-spacing: -0.6px;
            padding: 20px;
            span.word {
                display: inline-block;
                white-space: nowrap;
                padding: 0px 6px;
            }
            .white_board {
                display: inline-block;
                position: relative;
                background-color: #fff;
                border-radius: 10px;
                width: 950px;
                height: 400px;
                padding: 0px 25px;
                /*public*/
                .btn_trans {
                    @include btn_on( resolve('teacher/images/btn_korean_english.png'), resolve('teacher/images/btn_korean_english.png'), width('teacher/images/btn_korean_english.png'), height('teacher/images/btn_korean_english.png'), );
                    position: absolute;
                    left: 20px;
                    top: 15px;
                    z-index: 2;
                }
                /*public*/
                .sentence_box {
                    height: 100px;
                    position: relative;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: left;
                    &>div {
                        display: inline-block;
                        transform: translateY(-50%);
                        margin-top: 75px;
                        .btn_audio {
                            @include btn_on( resolve('teacher/images/btn_speaker.png'), resolve('teacher/images/btn_speaker_on.png'), width('teacher/images/btn_speaker.png'), height('teacher/images/btn_speaker.png'));
                            vertical-align: top;
                            margin-top: 12px;
                            margin-right: 12px;
                        }
                        .question_box {
                            text-align: left;
                            display: inline-block;
                            vertical-align: top;
                            max-width: 1000px;
                        }
                    }
                }
                /*T3일 때*/
                .question {
                    position: relative;
                    text-align: left;
                    font-size: 28px;
                    padding: 0px 25px;
                    &>div {
                        margin: 25px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
                .true_false_btn {
                    @include btn_on( resolve('teacher/images/btn_true_false.png'), resolve('teacher/images/btn_true_false.png'), width('teacher/images/btn_true_false.png'), height('teacher/images/btn_hint.png'), );
                    right: 20px;
                    z-index: 2;
                }
                .hard_question {
                    position: relative;
                    text-align: left;
                    font-size: 28px;
                    padding: 0px 25px;
                    .answer_box {
                        border-bottom: 2px solid #000;
                        .sample {
                            min-height: 55px;
                            padding-bottom: 5px;
                        }
                        .hide {
                            display: none;
                        }
                        .hint {
                            min-height: 55px;
                            padding-bottom: 5px;
                            color: rgb(0, 0, 255);
                            .block {
                                font-weight: bold;
                            }
                        }
                    }
                }
                /*T2일 때*/
                .image_box {
                    position: relative;
                    margin-top: 5px;
                    height: 260px;
                    display: inline-block;
                    &>img {
                        float: left;
                        top: 0px;
                        left: 0px;
                        width: 218px;
                        height: 249px;
                        margin: 0px 25px;
                    }
                }
            }
            /*T2일 때*/
            .speechbubble_box {
                position: relative;
                margin: 10px 0px;
                &>div {
                    display: inline-table;
                    &>div {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &.view-hint {
                        color: #fff;
                        &:after {
                            border-right-color: rgb(13, 92, 155);
                        }
                    }
                }
                .swiper-container {
                    height: 80px;
                    border-bottom: 2px solid #fff;
                    .swiper-scrollbar {
                        width: 9px;
                        right: 3px;
                        top: 5%;
                        height: 90%;
                        background-color: transparent;
                        .swiper-scrollbar-drag {
                            background-color: rgba(0, 0, 0, 0.25);
                        }
                    }
                    &>div {
                        width: 500px;
                        max-height: 120px;
                        .sample {
                            min-height: 55px;
                            span.block {
                                color: transparent;
                                border-bottom: 2px solid #fff;
                            }
                        }
                        .hide {
                            display: none;
                        }
                        .hint {
                            min-height: 55px;
                            padding-bottom: 5px;
                            font-size: 45px;
                        }
                    }
                }
            }
        }
    }
}