@mixin intro_quiz {
    .intro_question_bg {
        position: relative;
        margin: 0 auto;
        padding-top: 10px;
        width: 1150px;
        height: 600px;

        .closed_hint {
            display: none;
        }
        .btn_example {
            @include btn_on(resolve('teacher/images/btn_example.png'), resolve('teacher/images/btn_example_down.png'), width('teacher/images/C_answer.png'), height('teacher/images/C_answer.png'));
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 2;
        }
        .quiz_box {
            position: absolute;
            text-align: center;
            white-space: normal;
            top: 50px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            letter-spacing: -0.6px;
            padding: 5px 0px;
            
            span.word {
                display: inline-block;
                white-space: nowrap;
                padding: 0px 6px;
            }
            .white_board {
                display: inline-block;
                position: relative;
                background-color: #fff;
                border-radius: 10px;
                width: 600px;
                height: 330px;
                padding: 10px;

                .image_box {
                    margin-top: 5px;
                    display: inline-block;

                    &>img {
                        width: auto;
                        height: 300px;
                    }
                }
            }
            .sentence_box {
                height: 100px;
                font-size: 40px;
                color: #fff;

                &>div {
                    display: inline-block;
                    transform: translateY(-50%);
                    margin-top: 75px;
                    .btn_audio {
                        @include btn_on( resolve('teacher/images/btn_speaker.png'), resolve('teacher/images/btn_speaker_on.png'), width('teacher/images/btn_speaker.png'), height('teacher/images/btn_speaker.png'));
                        vertical-align: top;
                        margin-top: 12px;
                        margin-right: 12px;
                    }
                    .question_box {
                        text-align: left;
                        display: inline-block;
                        vertical-align: top;
                        max-width: 1000px;
                    }
                }
            }
            .speechbubble_box {
                margin: 10px 0px;
                &>div {
                    display: inline-table;
                    vertical-align: middle;
                    width: 530px;
                    height: 80px;
                    border-bottom: 4px solid #fff;
                    max-height: 120px;
                    &.view-hint {
                        color: rgb(255, 253, 138);
                        white-space: nowrap;
                        &:after {
                            border-right-color: rgb(13, 92, 155);
                        }
                    }
                    .sample {
                        min-height: 55px;
                        
                        span.block {
                            color: transparent;
                            border-bottom: 2px solid #fff;
                        }
                    }
                    .hide {
                        display: none;
                    }
                    .hint {
                        text-align: left;
                        font-size: 40px;
                        min-height: 55px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}