@import '../../../share/CoverPopup.scss';

@mixin pop_trans {
	.btn_pop_trans{
		@include btn_on_dis(
			resolve('teacher/images/btn_trans.png'),
			resolve('teacher/images/btn_trans_down.png'),
			resolve('teacher/images/btn_trans_down.png'),
			width('teacher/images/btn_trans.png'),
			height('teacher/images/btn_trans.png'),
		);
		position:absolute;
		left:85px;
		top:155px;
		z-index:100;
	}
	.pop_trans {
		@include CoverPopup(10001);
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: 60px;
		.closed_hint {
			display: none;
		}
		.pop_bg {
			background-image: resolve('teacher/images/lets_talk_bg.png');
			width: width('teacher/images/lets_talk_bg.png');
			height: height('teacher/images/lets_talk_bg.png');
			margin: 0 auto;
			position: relative;
			.btn_letstalk_close {
				@include btn_on_dis( resolve('teacher/images/letstalk_close.png'), resolve('teacher/images/letstalk_close_dis.png'), resolve('teacher/images/letstalk_close.png'), width('teacher/images/letstalk_close.png'), height('teacher/images/letstalk_close.png'), );
				position: absolute;
				right: 10px;
				top: 13px;
				z-index: 2;
			}
			.btn_hint {
				@include btn_on( resolve('teacher/images/C_answer.png'), resolve('teacher/images/C_answer.png'), width('teacher/images/C_answer.png'), height('teacher/images/C_answer.png'), );
				position: absolute;
				right: 20px;
				top: 65px;
				z-index: 2;
			}
			.popbox {
				position: absolute;
				top: 50px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				text-align: center;
				letter-spacing: -0.6px;
				white-space: normal;
				font-size: 30px;
				span.word {
					display: inline-block;
					padding: 0px 6px;
					white-space: nowrap;
				}
				.sentence_box {
					position: relative;
					text-align: left;
					height: 160px;
					padding: 0 30px;
					&>div {
						position: relative;
						display: inline-block;
						top: 150px;
						transform: translateY(-50%);
						.btn_audio {
							@include btn_on( resolve('teacher/images/btn_speaker.png'), resolve('teacher/images/btn_speaker_on.png'), width('teacher/images/btn_speaker.png'), height('teacher/images/btn_speaker.png'));
							vertical-align: top;
							margin-top: 12px;
							margin-right: 12px;
						}
						.question_box {
							text-align: left;
							vertical-align: top;
							max-width: 1000px;
						}
						.kor_question_box {
							color: #0066FF;
							text-align: left;
							display: inline-block;
							vertical-align: top;
							margin-left: 50px;
							max-width: 1000px;
						}
					}
				}
				.speechbubble_box {
					position: relative;
					margin-bottom: 20px;
					&>div {
						display: inline-table;
						&>div {
							display: table-cell;
							vertical-align: middle;
						}
					}
					.char_box {
						padding-right: 23px;
					}
					.balloon {
						position: relative;
						background-color: #fff;
						border-radius: 10px;
						width: 900px;
						height: 120px;
						text-align: left;
						padding: 0 20px;
						.swiper-container {
							width: 885px;
							left: 10px;
							.swiper-scrollbar {
								width: 9px;
								right: 3px;
								top: 5%;
								height: 90%;
								background-color: transparent;
								.swiper-scrollbar-drag {
									background-color: rgba(0, 0, 0, 0.25);
								}
							}
							&>div {
								width: 850px;
								max-height: 120px;
								.sample {
									min-height: 55px;
									padding-bottom: 5px;
									span.block {
										color: transparent;
										border-bottom: 2px solid #000;
									}
								}
								.hide {
									display: none;
								}
								.hint {
									min-height: 55px;
									padding-bottom: 5px;
									span.block {
										display: inline;
										border-bottom: 2px solid rgb(0, 240, 255);
									}
								}
							}
						}
						&:after {
							content: '';
							position: absolute;
							left: 0;
							top: 50%;
							width: 0;
							height: 0;
							border: 15px solid transparent;
							border-right-color: #fff;
							border-left: 0;
							margin-top: -15px;
							margin-left: -15px;
						}
						&.view-hint {
							background-color: rgb(13, 92, 155);
							color: rgb(0, 240, 255);
							&:after {
								border-right-color: rgb(13, 92, 155);
							}
						}
					}
				}
			}
		}
	}
}
