@import '../../share/CoverPopup.scss';
@import './t_warmup/index.scss';
@import './t_passage/index.scss';
@import './t_question/index.scss';
@import './t_video_box/index.scss';
@import './t_storybook.scss';
@import '../../share/sendui.scss';
@mixin t_comprehension {
    .t_compre {
        &>.top {
            position: absolute;
            top: 48px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            .btn_comprehension {
                @include btn_down_dis ( resolve('teacher/images/btn_comprehension.png'), resolve('teacher/images/btn_comprehension_down.png'), resolve('teacher/images/btn_comprehension.png'), width('teacher/images/btn_comprehension.png'), height('teacher/images/btn_comprehension.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_comprehension_on.png');
                }
            }
            .btn_visualizing {
                @include btn_down_dis ( resolve('teacher/images/btn_visualizing.png'), resolve('teacher/images/btn_visualizing_down.png'), resolve('teacher/images/btn_visualizing.png'), width('teacher/images/btn_visualizing.png'), height('teacher/images/btn_visualizing.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_visualizing_on.png');
                }
            }
            .btn_summarizing {
                @include btn_down_dis ( resolve('teacher/images/btn_summarizing.png'), resolve('teacher/images/btn_summarizing_down.png'), resolve('teacher/images/btn_summarizing.png'), width('teacher/images/btn_summarizing.png'), height('teacher/images/btn_summarizing.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_summarizing_on.png');
                }
            }
        }
        .btn_book {
            position: absolute;
            top: 79px;
            right: 136px;
            z-index: 1;
            @include btn_down_dis( resolve('teacher/images/btn_book.png'), resolve('teacher/images/btn_book_down.png'), resolve('teacher/images/btn_book_dis.png'), width('teacher/images/btn_book.png'), height('teacher/images/btn_book.png'));
            &.up {
                position: absolute;
                top: 56.5px;
                right: 136px;
            }
        }
        .btn_video {
            position: absolute;
            top: 80px;
            right: 67px;
            z-index: 1;
            @include btn_down_dis( resolve('teacher/images/btn_video.png'), resolve('teacher/images/btn_video_down.png'), resolve('teacher/images/btn_video_dis.png'), width('teacher/images/btn_video.png'), height('teacher/images/btn_video.png'));
            &.up {
                position: absolute;
                top: 58px;
                right: 67px;
            }
        }
        .btn_additional_quiz {
            position: absolute;
            top: 80px;
            right: 205px;
            z-index: 1;
            @include btn_down_dis( resolve('teacher/images/btn_additional_quiz.png'), resolve('teacher/images/btn_additional_quiz.png'), resolve('teacher/images/btn_additional_quiz.png'), width('teacher/images/btn_additional_quiz.png'), height('teacher/images/btn_additional_quiz.png'));
            &.up {
                position: absolute;
                top: 58px;
                right: 67px;
            }
        }
        .btn_tab {
            position: absolute;
            top: 100px;
            left: 74px;
            z-index: 1;
            .btn_warmup {
                margin-left: 11px;
                @include btn_down_dis( resolve('teacher/images/btn_tab_introduction.png'), resolve('teacher/images/btn_tab_introduction_down.png'), resolve('teacher/images/btn_tab_introduction.png'), width('teacher/images/btn_tab_introduction.png'), height('teacher/images/btn_tab_introduction.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_tab_introduction_down.png');
                }
            }
            .btn_passage {
                margin-left: 11px;
                @include btn_down_dis( resolve('teacher/images/btn_tab_text.png'), resolve('teacher/images/btn_tab_text_down.png'), resolve('teacher/images/btn_tab_text.png'), width('teacher/images/btn_tab_text.png'), height('teacher/images/btn_tab_text.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_tab_text_down.png');
                }
            }
            .btn_question {
                margin-left: 11px;
                @include btn_down_dis( resolve('teacher/images/btn_tab_confirm.png'), resolve('teacher/images/btn_tab_confirm_down.png'), resolve('teacher/images/btn_tab_confirm.png'), width('teacher/images/btn_tab_confirm.png'), height('teacher/images/btn_tab_confirm.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_tab_confirm_down.png');
                }
            }
            .btn_graphicorganizer {
                margin-left: 11px;
                @include btn_down_dis( resolve('teacher/images/btn_graphicorganizer.png'), resolve('teacher/images/btn_graphicorganizer_down.png'), resolve('teacher/images/btn_graphicorganizer.png'), width('teacher/images/btn_graphicorganizer.png'), height('teacher/images/btn_graphicorganizer.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_graphicorganizer_down.png');
                }
            }
            .btn_summary {
                margin-left: 11px;
                @include btn_down_dis( resolve('teacher/images/btn_summary.png'), resolve('teacher/images/btn_summary_down.png'), resolve('teacher/images/btn_summary.png'), width('teacher/images/btn_summary.png'), height('teacher/images/btn_summary.png'));
                &.on {
                    background-image: resolve('teacher/images/btn_summary_down.png');
                }
            }
        }
        @include t_video_popup;
        @include t_storybook;
        .lets_talk {
            @include CoverPopup(10001);
            background-color: rgba(0, 0, 0, 0.6);
            padding-top: 60px;
            .closed_hint {
                display: none;
            }
            .pop_bg {
                background-image: resolve('teacher/images/lets_talk_bg.png');
                width: width('teacher/images/lets_talk_bg.png');
                height: height('teacher/images/lets_talk_bg.png');
                margin: 0 auto;
                position: relative;
                .btn_answer {
                    @include btn_on( resolve('teacher/images/btn_answer.png'), resolve('teacher/images/btn_answer_down.png'), width('teacher/images/btn_answer.png'), height('teacher/images/btn_answer.png'), );
                    position: absolute;
                    right: 20px;
                    top: 65px;
                    z-index: 2;
                }
                .popbox {
                    position: absolute;
                    top: 50px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    letter-spacing: -0.6px;
                    white-space: normal;
                    font-size: 34px;
                    span.word {
                        display: inline-block;
                        padding: 0px 6px;
                        white-space: nowrap;
                    }
                    .sentence_box {
                        position: relative;
                        height: 160px;
                        text-align: left;
                        padding: 0 35px;
                        &>div {
                            position: relative;
                            display: inline-block;
                            top: 80px;
                            transform: translateY(-50%);
                            .question_box {
                                text-align: left;
                                display: inline-block;
                                vertical-align: top;
                                max-width: 1000px;
                                font-size: 30px;
                                line-height: 120%;
                            }
                        }
                    }
                    .quiz_box {
                        position: relative;
                        text-align: left;
                        font-size: 24px;
                        margin: 0 90px 0 50px;
                        &>div {
                            font-family: nanumgothic;
                            font-weight: bold;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .toggle_bundle {
                            width: width('teacher/images/TF.png');
                            height: height('teacher/images/TF.png');
                            background: resolve('teacher/images/TF.png');
                            padding: 0 5px 7px 5px;
                            cursor: pointer;
                            &>div {
                                display: inline-block;
                                width: 50%;
                                height: 100%;
                                z-index: 5;
                            }
                        }
                        .on_true {
                            background: resolve('teacher/images/TF_T_B.png');
                        }
                        .on_false {
                            background: resolve('teacher/images/TF_F_B.png');
                        }
                        .on_true_t {
                            background: resolve('teacher/images/TF_T_T.png');
                        }
                        .on_false_t {
                            background: resolve('teacher/images/TF_F_T.png');
                        }
                    }
                }
            }
            .btn_back {
                @include common_back;
                position: absolute;
                right: 5px;
                bottom: 3px;
                z-index: 2;
            }
        }
        &.Compreshension {
            background-image: resolve('teacher/images/bg_compre.png');
            width: 100%;
            height: height('teacher/images/bg_compre.png');
            @include Warmup;
            @include Passage;
            @include Question;
        }
        &.VISUALIZING {
            background-image: resolve('teacher/images/bg_visual.png');
            width: 100%;
            height: height('teacher/images/bg_visual.png');
        }
        &.SUMMARIZING {
            background-image: resolve('teacher/images/bg_visual.png');
            width: 100%;
            height: height('teacher/images/bg_visual.png');
        }
        .img_popup {
            @include CoverPopup(10001);
            background-color: rgba(0, 0, 0, 0.8);
            text-align: center;
            &>div {
                display: inline-block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                height: auto;
                &>img {
                    border-radius: 11px;
                    width: 980px;
                }
                .btn_zoom {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    @include btn_down_dis( resolve('teacher/images/btn_popup_close.png'), resolve('teacher/images/btn_popup_close_down.png'), resolve('teacher/images/btn_popup_close.png'), width('teacher/images/btn_popup_close.png'), height('teacher/images/btn_popup_close.png'));
                }
            }
        }
    }
}

@mixin mixin_nav {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 150px;
}

@mixin mixin_page_box {
    .btn_page_box {
        width: 100%;
        height: 0px;
        overflow: visible;
        text-align: center;
        z-index: 2;
        cursor: pointer;
        &>span {
            margin: 0px 10px;
            font-size: 25px;
            font-weight: bold;
            color: rgba(179, 179, 179, 0.5);
            &.on {
                color: rgb(248, 246, 77);
            }
        }
        &.off {
            display: none;
        }
    }
}