@mixin s_typing() {
    &>.s_typing {
        position: relative;
        display: flex;
        transition: margin-top 0.3s;
        margin-top: 60px;
        justify-content: center;
        font-size: 46px;
        color: #fff;
        align-items: center;
        padding: 0 110px;
        &.key-on {
            margin-top: 20px;
        }
        .area-bnd {
            position: relative;
            display: flex;
            vertical-align: top;
            border-bottom: 4px solid #fff;
            align-items: center;
            width: 100%;
            height: 80px;
            min-width: 300px;
            .index {
                flex: 0 0 auto;
                padding: 30px 0px;
            }
            .k-tarea {
                position: relative;
                width: 100%;
                height: auto;
                min-height: 64px;
                textarea {
                    box-sizing: border-box;
                    padding: 35px 0px 30px 10px;
                    font-family: NanumGothic;
                    font-size: 40px;
                    font-weight: bold;
                    color: #fff;
                    &::disabled {
                        color: #fff;
                    }
                }
                .k-tarea-bg {
                    min-height: 100%;
                }
                .k-tarea-bar {
                    display: none;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}