@mixin s_typing($tarea-margin-right) {
    &>.s_typing {
        position: relative;
        display: flex;
        transition: margin-top 0.3s;
        margin-top: 23px;
        justify-content: center;
        font-size: 52px;
        color: #fff;
        align-items: center;
        padding: 0 110px;
        .area-bnd {
            position: relative;
            display: flex;
            vertical-align: top;
            border-bottom: 3px solid #fff;
            align-items: center;
            width: 100%;
            min-width: 300px;
            margin-right: $tarea-margin-right;
            .index {
                flex: 0 0 auto;
                padding: 30px 0px;
            }
            .k-tarea {
                position: relative;
                width: 100%;
                height: auto;
                min-height: 64px;
                textarea {
                    box-sizing: border-box;
                    padding: 30px 35px 30px 30px;
                    font-family: NanumGothic;
                    font-size: 40px;
                    font-weight: bold;
                    color: #fff;										
                    &::disabled {
                        color: #fff;
                    }
                }
                .k-tarea-bg {
                    height: 0px;
                    min-height: 100%;
                }
                .k-tarea-bar {
                    display: none;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}