@import "../common/component/button.scss";
@import "../config.scss";
@import "../share/page_direction.scss";
@import "../share/sendui.scss";

@import "./student/s_sample.scss";

#wrap{
	background-image:resolve("digenglish_lib/images/theme2_p_bg.png");
	font-family: NotoSans;
	&>.eyeon_svg{
		@include page;
		pointer-events: none;
	}
	
	&>.page_direction{
		@include page_direction;
		&>div{
			position: absolute;
			background-image: resolve("student/images/direction.png");
			width: width("student/images/direction.png");
			height:  height("student/images/direction.png");
			left: calc(50% - width("student/images/direction.png")/2);
			top: calc(50% - height("student/images/direction.png")/2);
		}

		&.hide{
			visibility: hidden;
		}
	}


	@include s_sample;
	


	.fel_toteacher{
		@include fel_toteacher;
	}
}



