@import '../../../share/sendui.scss';
@import '../../../share/Progress_bar.scss';
@import '../../../share/CoverPopup.scss';
@import '../../script_container/index.scss';
@import '../t_video_box/index.scss';

@import '../../../share/QuizMCBtn.scss';

@mixin comprehension{
	.t_comprehension {
		background:resolve('teacher/images/bg_playing.png') no-repeat;
		width:width('teacher/images/bg_playing.png');
		height:height('teacher/images/bg_playing.png');

		.lets_talk{
			@include CoverPopup(10001);
			background-color:rgba(0,0,0,0.5);
			padding-top:60px;
			.closed_hint{
				display:none;
			}
			.pop_bg{
				background-image:resolve('teacher/images/lets_talk_bg.png');
				width:width('teacher/images/lets_talk_bg.png');
				height:height('teacher/images/lets_talk_bg.png');
				margin:0 auto;
				position:relative;

				.btn_letstalk_close{
					@include btn_on_dis(
						resolve('teacher/images/letstalk_close.png'),
						resolve('teacher/images/letstalk_close_dis.png'),
						resolve('teacher/images/letstalk_close.png'),
						width('teacher/images/letstalk_close.png'),
						height('teacher/images/letstalk_close.png'),
					);
					position:absolute;
					right:10px;
					top:13px;
					z-index: 2;
				}
				.btn_hint{
					@include btn_on(
						resolve('teacher/images/btn_hint.png'),
						resolve('teacher/images/btn_hint_down.png'),
						width('teacher/images/btn_hint.png'),
						height('teacher/images/btn_hint.png'),
					);
					position:absolute;
					right:20px;
					top:65px;
					z-index: 2;
				}

				.popbox{
					position: absolute;
					top: 50px; bottom: 0px;
					left: 0px; right: 0px;
					text-align: center;
					letter-spacing: -0.6px;
					white-space: normal;
					font-size: 34px;

					span.word{
						display: inline-block;
						padding: 0px 6px;
						white-space: nowrap;
					}

					.image_box{
						position:relative;
						margin-top: 40px;
						&>img{
							width: 409px;
							height: 249px;
							margin: 0px 10px;
						}
						.btn_zoom1 {
							position: absolute; top: 5px; right: 368px;
							z-index: 1;
							@include btn_on(
								resolve('teacher/images/btn_zoom.png'),
								resolve('teacher/images/btn_zoom.png'),
								width('teacher/images/btn_zoom.png'),
								height('teacher/images/btn_zoom.png')
							);
							background-size: cover;
							transition-duration: 0.3s;
							&.notonly{
								position: absolute; top: 5px; right: 583px;
							}
						}
						.btn_zoom2 {
							position: absolute; top: 5px; right: 153px;
							z-index: 1;
							@include btn_on(
								resolve('teacher/images/btn_zoom.png'),
								resolve('teacher/images/btn_zoom.png'),
								width('teacher/images/btn_zoom.png'),
								height('teacher/images/btn_zoom.png')
							);
							background-size: cover;
							transition-duration: 0.3s;
							&.notonly{
								position: absolute; top: 5px; right: 368px;
							}
						}

						&.zoom{
							z-index: 10001;
							width:100%; height: 100%;
							top: 0px; bottom:0px;
			
							padding: 80px 108px;
							background-color: rgba(0, 0, 0, 0.9);
							
							&>.img{
								border-radius: 10px;
							}
							.btn_zoom {
								top: 60px; right: 86px;
								@include btn_down_dis(
									resolve('teacher/images/btn_close.png'),
									resolve('teacher/images/btn_close_down.png'),
									resolve('teacher/images/btn_close.png'),
									width('teacher/images/btn_close.png'),
									height('teacher/images/btn_close.png')
								);
							}
						}
					}
					.sentence_box{
						position: relative;
						height: 160px;
						&>div{
							position: relative;
							display: inline-block;
							top: 80px;
							transform: translateY(-50%);

							.btn_audio{
								@include btn_on(
									resolve('teacher/images/btn_speaker.png'),
									resolve('teacher/images/btn_speaker_on.png'),
									width('teacher/images/btn_speaker.png'),
									height('teacher/images/btn_speaker.png')
								);
								vertical-align: top;
								margin-top: 12px;
								margin-right: 12px;
							}
							.question_box{
								text-align: left;
								display: inline-block;
								vertical-align: top;

								max-width: 1000px;
							}

						}
					}

					.speechbubble_box{
						position: relative;
						margin-bottom: 20px;

						&>div{
							display: inline-table;
							&>div{
								display: table-cell;
								vertical-align: middle;
							}
						}
						.char_box{
							padding-right: 23px;
						}
						.balloon { 
							position: relative; 
							background-color: #fff; 
							border-radius: 10px; 
							width: 900px;
							height: 120px;
							text-align: left;
							padding: 0 20px;

							.swiper-container {	
								width: 885px;
								left: 10px;

								.swiper-scrollbar{
									width: 9px;
									right: 3px;
									top: 5%;
									height: 90%;
									background-color: transparent;
									.swiper-scrollbar-drag {
										background-color: rgba(0, 0, 0, 0.25);
									}
								}
								&>div{
									width: 850px;
									max-height: 120px;

									.sample{
										min-height: 55px;
										padding-bottom: 5px;
										span.block{
											color: transparent;
											border-bottom: 2px solid #000;
										}
									}
									.hide{
										display: none;
									}
									.hint{
										min-height: 55px;
                                        padding-bottom: 5px;
                                        span.block{
                                            display: inline;
                                            border-bottom: 2px solid rgb(0,240,255);
                                        }
                                    }
								}
							}

							&:after { 
								content: ''; 
								position: absolute; 
								left: 0; 
								top: 50%; 
								width: 0; 
								height: 0; 
								border: 15px solid transparent; 
								border-right-color: #fff; 
								border-left: 0; 
								margin-top: -15px; 
								margin-left: -15px; 

							}

							&.view-hint{
								background-color: rgb(13, 92, 155); 
								color: rgb(0,240,255);
								&:after{
									border-right-color: rgb(13, 92, 155); 
								}
							}	
						} 
					}
				}
			}
		}
		.top {
			position: absolute;
			top: 52px; left: 50%; transform: translateX(-50%);
			.btn_compre {
				@include btn_on(
					resolve('teacher/images/btn_compre.png'),
					resolve('teacher/images/btn_compre_on.png'),
					width('teacher/images/btn_compre.png'),
					height('teacher/images/btn_compre.png')
				);
			}
			.btn_dialogue {
				@include btn_on(
					resolve('teacher/images/btn_dialogue.png'),
					resolve('teacher/images/btn_dialogue_on.png'),
					width('teacher/images/btn_dialogue.png'),
					height('teacher/images/btn_dialogue.png')
				);
			}
		}
		.btn_tabs {
			position: absolute; top: 85px; left: 87px;
			.btn_tab_question {
				@include btn_on(
					resolve('teacher/images/btn_tab_question.png'),
					resolve('teacher/images/btn_tab_question_down.png'),
					width('teacher/images/btn_tab_question.png'),
					height('teacher/images/btn_tab_question.png')
				);
			}
			.btn_tab_script {
				margin-left: 10px;
				@include btn_on(
					resolve('teacher/images/btn_tab_script.png'),
					resolve('teacher/images/btn_tab_script_down.png'),
					width('teacher/images/btn_tab_script.png'),
					height('teacher/images/btn_tab_script.png')
				);
			}
		}
		/* 제출수*/
		.info_box{
			position: absolute;	top: 66px; right: 76px;
			width: auto;
			height: auto;
			z-index: 2;

			opacity: 0;
			/* transition: opacity 0.3s; */
			pointer-events: none;
			&.on{
				pointer-events: auto;
				opacity: 1;
				/* transition: opacity 0.5s; */
			}

			&>.return_cnt_box{
				@include return_cnt_box_white;
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				margin-right: 9px;
			}				
			&>.btn_answer{
				display: inline-block;
				vertical-align: middle;
				@include btn_on(
					resolve('teacher/images/btn_answer.png'),
					resolve('teacher/images/btn_answer_down.png'),
					width('teacher/images/btn_answer.png'),
					height('teacher/images/btn_answer.png')
				);
				pointer-events: unset;	
			}
			.btn_trans {
				display: inline-block;
				vertical-align: middle;
				@include btn_on_dis(
					resolve('teacher/images/btn_translate.png'),
					resolve('teacher/images/btn_translate_down.png'),
					resolve('teacher/images/btn_translate_down.png'),
					width('teacher/images/btn_translate.png'),
					height('teacher/images/btn_translate.png')
				);
			}
			.btn_clue {
				display: inline-block;
				vertical-align: middle;
				@include btn_on_dis(
					resolve('teacher/images/btn_clue.png'),
					resolve('teacher/images/btn_clue_down.png'),
					resolve('teacher/images/btn_clue_down.png'),
					width('teacher/images/btn_clue.png'),
					height('teacher/images/btn_clue.png')
				);
			}
		}
		/* 비디오 관련 */
		.left_box {
			width: 633px; height: 515px;
			position: absolute; top: 163px; left: 88px;
			.video_container {
				position: relative;
				margin-top: 10px; height: 494px;
				overflow: hidden;
				z-index: 0;
				@include t_video_box;
				
			}
		}
		/* 화면에 따라 내용이 바뀌는 오른쪽*/
		.right_box {
			width: 480px; height: 600px;
			position: absolute;	top: 127px;	right: 70px;
			.btn_page_box {
				position: absolute;	
				top: 8px; 
				width: 100%;	
				height: 0px;
				overflow: visible;text-align: center;
				z-index: 2;
				cursor: pointer;
				&>span {
					margin: 0px 11px;
					font-size: 17px; color: rgba(255, 255, 255, 1);
					&.on {
						color: rgb(248, 246, 77);
					}
					text-shadow: 2px 2px 2px rgba(0,0,0,0.1),
											-2px 2px 2px rgba(0,0,0,0.1),
											-2px -2px 2px rgba(0,0,0,0.1),
											2px -2px 2px rgba(0,0,0,0.1);
					}
				&.off{display: none;}
			}
			/* 오른쪽 상단*/
			.right_top {
				/* 정답률*/
				.correct_box { 
					@include compre_correct(10px, 361px); 
					&.no-result{
						padding-top: 7px;
					}
					&.hide{
						display: none;
					}

					.title{
						display: none;
					}

					&>.progress_bar{
						width: 70px;
						&>.data_percent {		
							left: 75px;
						}
					}

				}
				
				/* hint*/
				.hint_box {
					position: absolute; top: 35px; z-index: 2;
					 
					&>.arrow{
						position: absolute;
						background: resolve('teacher/images/bg_bubble.png') no-repeat;
						width: 100%;
						height: height('teacher/images/bg_bubble.png');
						background-position-x: center;
					}
					
					&>.content{
						width: 454px;
						padding: 15px;
						position: relative;
						top: height('teacher/images/bg_bubble.png');
						background-color: #A4DFFD;
						display: flex;
						justify-content: center;
						align-items: center;
						box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
						min-height: 115px;
						border-radius: 5px;
						.btn_hint_close {
							position: absolute; top: 6px; right: 6px;
							@include btn_down_dis(
								resolve('teacher/images/btn_bubble_close.png'),
								resolve('teacher/images/btn_bubble_close_down.png'),
								resolve('teacher/images/btn_bubble_close.png'),
								width('teacher/images/btn_bubble_close.png'),
								height('teacher/images/btn_bubble_close.png')
							);
						}
						&>div {
							font-size: 26px; 
							line-height: 120%; 
							color: rgb(0, 0, 0);
							text-align: center;

							/*
							max-width: 100%;
							width: auto;
							display: table-caption;
							text-align: left; 
							
							
							white-space: normal;
							word-break: keep-all;
							margin: 0px;
							*/
						}

					}
				}

				.btn_lets_talk {
					display: none;
					position: absolute; top: 14px; right: 316px;
					@include btn_on_dis(
						resolve('teacher/images/btn_lets_talk.png'),
						resolve('teacher/images/btn_lets_talk_down.png'),
						resolve('teacher/images/btn_lets_talk_dis.png'),
						width('teacher/images/btn_lets_talk.png'),
						height('teacher/images/btn_lets_talk.png')
					);
				}
				/* 우리말로 번역 */
				.btn_script_trans {
					display: none;
					position: absolute; top: 10px; right: 103px;
					@include btn_down_dis(
						resolve('teacher/images/btn_script_trans.png'),
						resolve('teacher/images/btn_script_trans_down.png'),
						resolve('teacher/images/btn_script_trans_dis.png'),
						width('teacher/images/btn_script_trans.png'),
						height('teacher/images/btn_script_trans.png')
					);
				}
				/* 빈칸*/
				.btn_script_show {
					display: none;
					position: absolute; top: 10px; right: 20px;
					@include btn_down_dis(
						resolve('teacher/images/btn_script_show.png'),
						resolve('teacher/images/btn_script_show_down.png'),
						resolve('teacher/images/btn_script_show_dis.png'),
						width('teacher/images/btn_script_show.png'),
						height('teacher/images/btn_script_show.png')
					);
					&.on { background: resolve('teacher/images/btn_script_show_down.png')}
					/*
					&:disabled{
						opacity: 0.5;
					}
					*/
				}
			}
			/* question탭 활성화*/
			.question {
				width: 100%; height: 600px;
				.quiz {
					height: auto; 
					position: relative; top: 45px; left: 0px;
					white-space: normal; line-height: 1;
					padding: 0px 15px;
					vertical-align: middle;
					&>div {
						text-align: left;
						color: rgb(255,255,255);
					}
					cursor: pointer;
					letter-spacing: -0.8px;
				}
				.line{
					position: absolute; 
					left: 8px; right: 12px;
					top: 155px;
					border: none;
					border-top: 1px solid rgba(0, 0, 0, 0.9);
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				}
				.choice {
					position: absolute; top: 195px; right: 3px;
					text-align: center;
					white-space: normal;
					.btn_choice {
						@include btn_on(
							resolve('teacher/images/box_select_t.png'),
							resolve('teacher/images/box_select_down_t.png'),
							width('teacher/images/box_select_t.png'),
							height('teacher/images/box_select_t.png')
						);
						position: relative;
						@include quiz-btn-mc;
						font-size: 30px; text-align: left;
						padding: 0px 10px 6px 55px;
						color: rgb(0, 0, 0);
						margin-bottom: 31px;
						vertical-align: middle;
						letter-spacing: -0.8px;
					}
					&>span {
						display: none;
						cursor: pointer;
						vertical-align: middle;
						background: resolve('teacher/images/icon_person.png') no-repeat;
						width: 55px; height: 30px;
						font-size: 12px; color: rgb(167,161,177); text-align: center;
						line-height: 28px;
						position: relative; left: 205px;
					}


					&.correct{
						.btn_choice.on{
							background-image: resolve('teacher/images/box_select_correct_t.png');
						}
					}
				}

				&.complete{
					.choice {
						top: 165px;
						.btn_choice {
							margin-bottom: 0px;
						}
						&>span {
							display: inline-block;
						}
					}
				}				
			}
			/* script탭 활성화*/
			.script_container {
				/* 
				border-radius: 10px;
				background-color: rgba(41, 44, 50,0.4); 
				*/
				background-color: transparent;
				position: absolute; 
				left: 0px; width: 475px; 
				top: 45px; bottom: 38px;
				/*padding: 0px 10px;*/
				overflow: hidden;
				.swiper-container { 
					height: 100%; 
					.swiper-scrollbar{
						top: 1%;
						height: 98%;
						background-color: transparent;
						width: 5px;
						.swiper-scrollbar-drag{
							background-color: rgba(255, 255, 255, 0.6) !important;
						}
					}
					.script_box {		
						@include script_box;
					}

					.script_box:first-child {
						margin-top: 20px;	
					}
				}
				&.hide{
					opacity: 0;
					pointer-events: none;
				}
			}
		}
		/* 팝업버튼관련*/
		.bottom {
			.btn_QA {
				position: absolute; bottom: 6px; left: 50%; transform: translateX(-50%);
				@include btn_on_dis(
					resolve('teacher/images/btn_QA.png'),
					resolve('teacher/images/btn_QA_on.png'),
					resolve('teacher/images/btn_QA_dis.png'),
					width('teacher/images/btn_QA.png'),
					height('teacher/images/btn_QA.png')
				);

				&.down{
					background-image: resolve('teacher/images/btn_QA_down.png');
				}
			}
			.btn_role {
				position: absolute; bottom: 6px; left: 444px;
				@include btn_on_dis(
					resolve('teacher/images/btn_role.png'),
					resolve('teacher/images/btn_role_on.png'),
					resolve('teacher/images/btn_role_dis.png'),
					width('teacher/images/btn_role.png'),
					height('teacher/images/btn_role.png')
				);
			}
			.btn_shadowing {
				position: absolute; bottom: 6px; right: 444px;
				@include btn_on_dis(
					resolve('teacher/images/btn_shadowing.png'),
					resolve('teacher/images/btn_shadowing_on.png'),
					resolve('teacher/images/btn_shadowing_dis.png'),
					width('teacher/images/btn_shadowing.png'),
					height('teacher/images/btn_shadowing.png')
				);
			}
		}
		.fel_topad {
			@include fel_topad;
			position: absolute;
			bottom: 4px; right: 6px;
		}
		/* 팝업관련*/
		.compre_popup {
			@include CoverPopup(10001);
			background-image: resolve('teacher/images/bg_popup.png');
			width: width('teacher/images/bg_popup.png'); height: height('teacher/images/bg_popup.png');
			&>span {
				display: inline-block;
				position: absolute;	top: 170px;	left: 266px;
				font-size: 18px; letter-spacing: 5.5px; color: rgba(0, 0, 0, 0.5);
				line-height: 1.2;
			}
			.btn_close {
				position: absolute; top: 170px; right: 260px;
				@include btn_down_dis(
					resolve('teacher/images/btn_popup_close.png'),
					resolve('teacher/images/btn_popup_close_down.png'),
					resolve('teacher/images/btn_popup_close.png'),
					width('teacher/images/btn_popup_close.png'),
					height('teacher/images/btn_popup_close.png')
				);
			}
			&>.fel_topad {
				@include fel_topad;
				position: absolute;	bottom: 190px; right: 245px;
			}
			.popup_content {
				width: 788px; height: 411px;
				position: absolute; top: 206px; left: 251px;
				text-align: center;	
				&>span:nth-child(1) {
					font-size: 50px; letter-spacing: -2px; word-spacing: -1px;
					position: relative; top: 150px;
				}
				&>span:nth-child(2) {display: none;}
				&>span:nth-child(3) {display: none;}
				&>.img_box { display: none;}
			}			
			&.ROLE.PLAY {	/* 19-02-01 'ROLLPLAY' 오타수정 ROLEPLAY 띄워쓰기 추가 */	
				&>span {
					letter-spacing: 0px;
					word-break: normal;
					word-spacing: 0px;
				}
				&>div {
					width: 788px; height: 411px;
					position: absolute; top: 206px; left: 251px;
					text-align: center;	
					&>span:nth-child(1) {display: none;}
					&>span:nth-child(2) {
						display: inline-block;
						letter-spacing: -1px; word-spacing: -4px;
						font-size: 50px;line-height: 1.6;
						position: relative;	top: 20px;
					}
					&>span:nth-child(3) {display: none;}
					.img_box {
						display: block;
						
						position: absolute; 
						left: 0px; width: 100%; 
						top: 100px; 

						&>div { 
							cursor: pointer;
							display: inline-block;	
							vertical-align: top;
							position: relative;	
							left: 0px;

							transition: border-color 0.3s ease-in;
							&>img { vertical-align: top;} /* inline-block 으로 생긴 아래쪽 빈공간 삭제 */
							.icon_check {
								position: absolute; 
								top: -20px; left: -25px; /* 위치수정 */
								opacity: 0;

								transition: opacity 0.3s ease-in;
								&.A{
									background: resolve('teacher/images/icon_check1.png') no-repeat;
									width: width('teacher/images/icon_check1.png');
									height: height('teacher/images/icon_check1.png');
								}
								&.B{
									background: resolve('teacher/images/icon_check2.png') no-repeat;
									width: width('teacher/images/icon_check2.png');
									height: height('teacher/images/icon_check2.png');
                                }
                            }
                            .onbg{
                                position: absolute; 
                                top: -30px; left: -30px; 
                                z-index: -1;
                                opacity: 0;
                                &.on{ opacity: 1; }
                            }
							border-radius: 100%;
							border: 8px solid transparent;
							margin: 30px;
							&.A {
								border-color: #AD5BFF;
							}
							&.B {
								border-color: #0066FF;
							}
							&.on{
								/* border-color: #ff0; */
								.icon_check{
									opacity: 1;
								}		
							}
						}
					}
					
				}	
			}
			&.SHADOWING {
				&>span {letter-spacing: 0px;}
				&>div {
					width: 788px; height: 411px;
					position: absolute; top: 206px; left: 251px;
					text-align: center;	
					&>span:nth-child(1) {display: none;}
					&>span:nth-child(2) {display: none;}
					&>span:nth-child(3) {
						display: inline-block;
						font-size: 50px; letter-spacing: -2px; word-spacing: -1px;
						position: relative; top: 150px;
					}
				}	
			}
		}

		&.DIALOGUE {
			.btn_tab_question, .btn_tab_script { display: none; }

			&>.right_box>.right_top {
				.btn_lets_talk, .btn_script_trans, .btn_script_show { display: unset; }
			}
			&>.right_box>.question, .btn_page_box { display: none; }

			.right_box .script_container .script_box:first-child {
				margin-top: 0px;	
			}
		}
		.img_popup{
			@include CoverPopup(10001);
			background-color: rgba(0, 0, 0, 0.8);
			text-align: center;
			&>div{
				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				width: auto;
				height: auto;
				&>img {
					border-radius: 11px;
					width: 980px;
				}
				.btn_zoom {
					position: absolute;
					top: -20px; right: -20px;
					@include btn_down_dis(
						resolve('teacher/images/img_popup_close.png'),
						resolve('teacher/images/img_popup_close_down.png'),
						resolve('teacher/images/img_popup_close.png'),
						width('teacher/images/img_popup_close.png'),
						height('teacher/images/img_popup_close.png')
					);
				}
			}
			
		}
	}
}
