@import '../../../share/Progress_bar.scss';
@import '../../script_container/index.scss';
@import '../../../share/sendui.scss';
@import '../../../share/QuizMCBtn.scss';
@import "./table-item/index.scss";
@mixin s_additional {
    .s_additional {
        font-family: NanumGothic;
        font-weight: bold;
        /*basic*/
        .basic {
            position: relative;
            text-align: center;
            font-size: 28px;
            left: 0px;
            top: 0px;
            height: 800px;
            width: 100%;
            .swiper-container {
                @include page;
            }
            .q-item {
                .sentence_box {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    width: 1150px;
                    height: 300px;
                    border-radius: 15px;
                    padding-left: 30px;
                    .OX_box {
                        position: absolute;
                        display: inline-block;
                        background-repeat: no-repeat;
                        top: 27px;
                        left: 7px;
                        font-size: 25px;
                        text-align: center;
                        color: #000;
                        z-index: 101;
                        line-height: 5 * height("common/icon_o.png") / 6;
                        width: width("common/icon_o.png");
                        height: height("common/icon_o.png");
                        &.O {
                            background-image: resolve("common/icon_o.png");
                        }
                        &.X {
                            background-image: resolve("common/icon_x.png");
                        }
                    }
                    canvas {
                        top: 0;
                        left: 0;
                        width: inherit;
                        height: inherit;
                        border-radius: 35px;
                        position: absolute;
                        background: rgba(255, 255, 255, 0.9);
                    }
                    .question_box {
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 1100px;
                        font-size: 30px;
                        &>p {
                            display: block;
                            text-align: left;
                            float: left;
                            line-height: 47px;
                            .word {
                                margin-bottom: 30px;
                            }
                            .block {
                                display: inline-block;
                                border-bottom: 2px solid #000;
                                text-align: center;
                                width: 150px;
                            }
                        }
                        &>div {
                            display: block;
                            position: relative;
                            height: 225px;
                            float: right;
                            .blank_box {
                                width: 200px;
                                height: 47px;
                                margin-bottom: 30px;
                                border-bottom: 2px solid #000;
                            }
                            .hide {
                                visibility: hidden;
                            }
                        }
                    }
                }
                &>.s_typing {
                    padding: 0 65px;
                    .area-bnd {
                        position: relative;
                        display: flex;
                        vertical-align: top;
                        min-width: 300px;
                        width: 100%;
                        max-width: 50%;
                        margin-right: 50px;
                        border-bottom: 3px solid #fff;
                        .answer_box {
                            position: absolute;
                            display: block;
                            font-size: 45px;
                            color: red;
                            left: 74px;
                            top: 0px;
                            line-height: 0px;
                            visibility: hidden;
                            &.X {
                                visibility: visible;
                            }
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
        .supplement {
            position: relative;
            text-align: center;
            font-size: 28px;
            left: 0px;
            top: 0px;
            height: 800px;
            width: 100%;
            &>div {
                position: relative;
            }
            .table_box {
                height: 100%;
                text-align: left;
                margin: 0 auto;
                overflow: auto;
                .quiz {
                    position: relative;
                    height: 120px;
                    width: 100%;
                    padding: 0px 80px;
                    font-size: 29px;
                    font-weight: bold;
                    word-break: normal;
                    color: rgb(0, 0, 0);
                    white-space: normal;
                    margin: 50px 0px 40px 0px;
                    &>div {
                        position: absolute;
                        top: 64px
                    }
                }
                .OX_box {
                    position: absolute;
                    display: inline-block;
                    background-repeat: no-repeat;
                    top: 265px;
                    left: 90px;
                    font-size: 25px;
                    text-align: center;
                    z-index: 101;
                    line-height: 5 * height("common/icon_o.png") / 6;
                    width: width("common/icon_o.png");
                    height: height("common/icon_o.png");
                    &.O {
                        background-image: resolve("common/icon_o.png");
                    }
                    &.X {
                        background-image: resolve("common/icon_x.png");
                    }
                }
                .table-item {
                    &.type_1,
                    &.type_2,
                    &.type_3,
                    &.type_4,
                    &.type_5,
                    &.type_6,
                    &.type_7 {
                        .content-box>p {
                            line-height: 120px;
                            padding: 10px 0 0 10px;
                            text-align: center;
                        }
                        .content-box>div .content {
                            .answer {
                                position: absolute;
                                line-height: 25px;
                                padding-left: 45px;
                                color: red;
                            }
                            .select-box {
                                line-height: 43px;
                                vertical-align: middle;
                                text-indent: 0;
                                background: #fff;
                                &>.text-box {
                                    height: 45px;
                                }
                                &>.btn-drop {
                                    width: 45px;
                                    height: 45px;
                                    background-size: 48px;
                                    background-position: center -2px;
                                }
                                &>.options-box.bottom {
                                    position: absolute;
                                    left: 0;
                                    bottom: 1px;
                                    overflow: hidden;
                                    border-radius: 0 0 7px 7px;
                                }
                            }
                        }
                    }
                }
                .table-item {
                    .content>li {
                        &>div {
                            text-indent: -35px;
                            padding-left: 35px;
                            &>.select-box {
                                text-indent: 0;
                                &>.options-box.top {
                                    border-radius: 7px 7px 0 0;
                                    left: -1px;
                                    overflow: hidden;
                                    top: 0 !important;
                                }
                            }
                        }
                    }
                }
                $min-height: 200px;
                $min-width: 500px;
                $head-font-size: 23px;
                $head-line-height: 40px;
                $content-font-size: 28px;
                $content-padding: 10px 15px 15px 15px;
                $radius: 20px;
                $normal: resolve("teacher/images/btn_dropdown_t_down.png");
                $on: resolve("teacher/images/btn_dropdown_t_up.png");
                $width: width("teacher/images/btn_dropdown_t_down.png");
                $height: height("teacher/images/btn_dropdown_t_down.png");
                $line-height: 120px;
                @include mixin_table_item( $min-height, $min-width, $head-font-size, $head-line-height, $content-font-size, $content-padding, $radius, $normal, $on, $width, $height, $line-height);
                .table-item {
                    display: block;
                    margin: 0px auto;
                    padding: 20px 0px;
                    &.type_3 {
                        .table-item-btn {
                            top: 12px;
                            right: 8px;
                            width: 34px;
                            height: 34px;
                            background-size: cover;
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
            }
            &.done {
                .select-box {
                    &>.text-box {
                        color: #1a40e1 !important;
                    }
                    &>.options-box.on {
                        background-color: #cacaca !important;
                        color: #878787 !important;
                        &>div.on {
                            background-color: #249bfa !important;
                            color: #fff !important;
                        }
                    }
                }
            }
        }
        .hard {
            position: relative;
            text-align: center;
            font-size: 28px;
            left: 0px;
            top: 0px;
            height: 800px;
            width: 100%;
            .q-item {
                .sentence_box {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    width: 1150px;
                    height: 300px;
                    border-radius: 15px;
                    padding-left: 30px;
                    .OX_box {
                        position: absolute;
                        display: inline-block;
                        background-repeat: no-repeat;
                        top: 36px;
                        left: 8px;
                        font-size: 25px;
                        text-align: center;
                        z-index: 101;
                        line-height: 5 * height("common/icon_o.png") / 6;
                        width: width("common/icon_o.png");
                        height: height("common/icon_o.png");
                        &.O {
                            background-image: resolve("common/icon_o.png");
                        }
                        &.X {
                            background-image: resolve("common/icon_x.png");
                        }
                    }
                    canvas {
                        top: 0;
                        left: 0;
                        width: inherit;
                        height: inherit;
                        border-radius: 35px;
                        position: absolute;
                        background: rgba(255, 255, 255, 0.9);
                    }
                    .question_box {
                        top: 0;
                        left: 0;
                        position: relative;
                        font-size: 30px;
                        &>p {
                            display: inline-block;
                            color: #000;
                            text-align: left;
                            vertical-align: top;
                            line-height: 80px;
                            .block {
                                display: inline-block;
                                border-bottom: 2px solid #000;
                                text-align: center;
                                width: 150px;
                            }
                        }
                    }
                }
                &>.s_typing {
                    padding: 0 40px;
                    .area-bnd {
                        position: relative;
                        display: inline-table;
                        align-items: center;
                        vertical-align: top;
                        min-width: 300px;
                        width: 100%;
                        margin: 0 25px;
                        border-bottom: 3px solid #fff;
                        .answer_box {
                            display: block;
                            font-size: 45px;
                            color: red;
                            line-height: 0px;
                            text-align: left;
                            visibility: hidden;
                            &.X {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}