@charset "UTF-8";
html, body {
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 0px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 버튼 포커스시 색상 변하는 현상 방지 */
    font-family: NotoSans !important;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

img {
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 0px;
    outline: 0px solid transparent;
}

div, p {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#common_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#ding_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#dingend_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#wrap {
    width: 1280px;
    height: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.bg_svg {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

.swiper-scrollbar.white {
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

.swiper-scrollbar.white .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.swiper-scrollbar.black {
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

.swiper-scrollbar.black .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.common_back {
    background-size: 100% 100%;
    -ms-touch-action: none;
        touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglish_lib/images/btn_back.png");
    background-repeat: no-repeat;
    width: 78px;
    height: 73px;
    pointer-events: unset;
    cursor: pointer;
}

.common_back:disabled {
    background-image: "";
    pointer-events: none;
    cursor: auto;
}

.common_back.down {
    background-image: url("/content/digenglish_lib/B/images/btn_back_down.png");
}

.common_back:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglish_lib/B/images/btn_back.png") url("/contenbasic_lib_lib/images/btn_back_down.png") "";
}

.common_back.down {
    -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
         -o-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 16px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #47F6E9;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#preload_hidden {
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}

#preload_hidden .helvetica {
    font-family: HelveticaRounded;
}

#preload_hidden .helveticastd {
    font-family: HelveticaRoundedLTStd;
}

/* @font-face {
    font-family: Visang_e_HT;
    src: url(/content/digenglish_lib/B/font/Visang_e_HT.woff) format('woff');
}
@font-face {
    font-family: Visang_e_HT;
    font-weight:bold;
    src: url(/content/digenglish_lib/B/font/Visang_e_HT_Bold.woff) format('woff');
} */
@font-face {
    font-family: NotoSans_bold;
    font-weight: bold;
    src: url(/content/digenglish_lib/B/font/NotoSansCJKkr-Bold.woff) format("woff");
}

/* @font-face {
  font-family: NotoSans_light;
  font-weight:lighter;
  src: url(/content/digenglish_lib/B/font/NotoSans-Light.woff) format('woff');
} */
@font-face {
    font-family: NotoSans;
    /* src: url(/content/digenglish_lib/B/font/NotoSansCJKkr-Medium.woff) format('woff'); */
    src: url(/content/digenglish_lib/B/font/NotoSansCJK-Medium-en.woff) format("woff");
}

/* @font-face {
  font-family: HelveticaRounded;
    font-weight:bold;
    src: url(/content/digenglish_lib/B/font/HelveticaRounded-Bold.woff) format('woff');
}
@font-face {
    font-family: HelveticaRoundedLTStd;
    font-weight:bold;
    src: url(/content/digenglish_lib/B/font/HelveticaRoundedLTStd-Bd.woff) format('woff');
} */
@font-face {
    font-family: NotoSerif;
    src: url(/content/digenglish_lib/B/font/NotoSerif-Regular.woff) format("woff");
}

@font-face {
    font-family: NotoSerif_bold;
    font-weight: bold;
    src: url(/content/digenglish_lib/B/font/NotoSerif-Bold.woff) format("woff");
}

#common_navi_left {
    left: 0px;
    position: absolute;
    display: table;
    width: auto;
    top: 0px;
    height: 100%;
    pointer-events: none;
    -webkit-transition: left 0.5s, right 0.5s;
    -o-transition: left 0.5s, right 0.5s;
    transition: left 0.5s, right 0.5s;
    /* transition-property: left right; */
    z-index: 10000;
    /*
  &.off{
		
		left:-46px;	
		button.left{
			pointer-events: none;
		}
		button.right{
			pointer-events: none;
		}
		
  }
  */
}

#common_navi_left > div {
    width: auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

#common_navi_left > div > div {
    position: relative;
    width: auto;
    height: auto;
    vertical-align: middle;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
}

#common_navi_left button.left {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-touch-action: none;
        touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglish_lib/B/images/page_left_L.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 58px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_left button.left:disabled {
    background-image: url("/content/digenglish_lib/B/images/page_left_L_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_left button.left.down {
    background-image: url("/content/digenglish_lib/B/images/page_left_L_down.png");
}

#common_navi_left button.left:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglish_lib/B/images/page_left_L.png") url("/contenbasic_lib_lib/images/page_left_L_down.png") url("/contbasic_libic_lib/images/page_left_L_dis.png");
}

#common_navi_left button.right {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    pointer-events: auto;
    -ms-touch-action: none;
        touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglish_lib/B/images/page_right_L.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 58px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_left button.right:disabled {
    background-image: url("/content/digenglish_lib/B/images/page_right_L_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_left button.right.down {
    background-image: url("/content/digenglish_lib/B/images/page_right_L_down.png");
}

#common_navi_left button.right:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglish_lib/B/images/page_right_L.png") url("/contenbasic_lib_lib/images/page_right_L_down.png") url("/contbasic_libic_lib/images/page_right_L_dis.png");
}

#common_navi_right {
    right: 0px;
    position: absolute;
    display: table;
    width: auto;
    top: 0px;
    height: 100%;
    pointer-events: none;
    -webkit-transition: left 0.5s, right 0.5s;
    -o-transition: left 0.5s, right 0.5s;
    transition: left 0.5s, right 0.5s;
    /* transition-property: left right; */
    z-index: 10000;
    /*
  &.off{
		
		right:-46px;
		button.left{
			pointer-events: none;
		}
		button.right{
			pointer-events: none;
		}
			
  }
  */
}

#common_navi_right > div {
    width: auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

#common_navi_right > div > div {
    position: relative;
    width: auto;
    height: auto;
    vertical-align: middle;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
}

#common_navi_right button.left {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-touch-action: none;
        touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglish_lib/B/images/page_left_R.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 58px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_right button.left:disabled {
    background-image: url("/content/digenglish_lib/B/images/page_left_R_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_right button.left.down {
    background-image: url("/content/digenglish_lib/B/images/page_left_R_down.png");
}

#common_navi_right button.left:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglish_lib/B/images/page_left_R.png") url("/contenbasic_lib_lib/images/page_left_R_down.png") url("/contbasic_libic_lib/images/page_left_R_dis.png");
}

#common_navi_right button.right {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    pointer-events: auto;
    -ms-touch-action: none;
        touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglish_lib/B/images/page_right_R.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 58px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_right button.right:disabled {
    background-image: url("/content/digenglish_lib/B/images/page_right_R_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_right button.right.down {
    background-image: url("/content/digenglish_lib/B/images/page_right_R_down.png");
}

#common_navi_right button.right:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglish_lib/B/images/page_right_R.png") url("/contenbasic_lib_lib/images/page_right_R_down.png") url("/contbasic_libic_lib/images/page_right_R_dis.png");
}

/*
#common_navi_left.off{
	left:-46px;	
}



#common_navi_right{
	right:0px;	
}
#common_navi_right.off{
	right:-46px;	
}
*/
body {
    background-color: transparent;
}

#wrap {
    background-image: url("/content/digenglish_lib/B/images/theme2_bg.png");
}

#wrap > .page_direction {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    background-image: url("/content/digenglish_lib/B/math_pf/common/bg0.jpg");
    background-color: rgba(0, 0, 0, 0);
}

#wrap > .page_direction.hide {
    display: none;
}

#wrap > .page_direction > div.direction_step {
    position: absolute;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s ease-out;
    transition: opacity 0.5s, -webkit-transform 0.5s ease-out;
    -o-transition: opacity 0.5s, -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out, opacity 0.5s;
    transition: transform 0.5s ease-out, opacity 0.5s, -webkit-transform 0.5s ease-out, -o-transform 0.5s ease-out;
    opacity: 0;
}

#wrap > .page_direction.on > div {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}

#wrap > .page_direction.hide > div {
    visibility: hidden;
}

#wrap > .page_direction > div {
    position: absolute;
    background-image: url("/content/digenglish_lib/B/math_pf/teacher/images/direction.png");
    width: 800px;
    height: 600px;
    left: calc(50% - 800px/2);
    top: calc(50% - 600px/2);
}

#wrap .fel_topad {
    position: absolute;
    z-index: 11;
    -ms-touch-action: none;
        touch-action: none;
    bottom: 15px;
    right: 5px;
    -webkit-filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
            filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglish_lib/B/images/topad.svg");
    background-repeat: no-repeat;
    width: 81px;
    height: 75px;
    cursor: pointer;
    pointer-events: unset;
}

#wrap .fel_topad.on {
    background-image: url("/content/digenglish_lib/B/images/topad_on.svg");
}

#wrap .fel_topad:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglish_lib/B/images/topad.svg") url("/contenbasic_lib_lib/images/topad_on.svg");
}

#wrap .fel_topad.on {
    -webkit-filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
}

