@font-face {
    font-family: Visang_e_HT;
    src: url(/content/digenglishCB_lib/font/Visang_e_HT.woff) format("woff");
}

@font-face {
    font-family: Visang_e_HT;
    font-weight: bold;
    src: url(/content/digenglishCB_lib/font/Visang_e_HT_Bold.woff) format("woff");
}

@font-face {
    font-family: NotoSans_bold;
    font-weight: bold;
    src: url(/content/digenglishCB_lib/font/NotoSansCJKkr-Bold.woff) format("woff");
}

@font-face {
    font-family: NotoSans_light;
    font-weight: lighter;
    src: url(/content/digenglishCB_lib/font/NotoSans-Light.woff) format("woff");
}

@font-face {
    font-family: NotoSans;
    /* src: url(/content/digenglishCB_lib/font/NotoSansCJKkr-Medium.woff) format('woff'); */
    src: url(/content/digenglishCB_lib/font/NotoSansCJK-Medium-en.woff) format("woff");
}

@font-face {
    font-family: HelveticaRounded;
    font-weight: bold;
    src: url(/content/digenglishCB_lib/font/HelveticaRounded-Bold.woff) format("woff");
}

@font-face {
    font-family: HelveticaRoundedLTStd;
    font-weight: bold;
    src: url(/content/digenglishCB_lib/font/HelveticaRoundedLTStd-Bd.woff) format("woff");
}

@charset "UTF-8";
#wrap {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/bg_ls.png");
    font-family: NotoSans;
}

#wrap .eyeon_svg {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    pointer-events: none;
}

#wrap .goodjob-svg {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    z-index: 100;
}

#wrap .content-container {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

#wrap .content-container .content-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: left 0.3s ease-in-out;
}

#wrap .content-container .content-wrapper > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

#wrap .video-direction {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/content/digenglishCB_lib/D/reading_english/common/bg_direction.jpg");
}

#wrap .video-direction > img {
    z-index: 2;
}

#wrap .video-direction > div.direction {
    position: absolute;
    transform: translateY(100px);
    transition: transform 0.5s ease-out, opacity 0.5s;
    opacity: 0;
}

#wrap .video-direction.on > div.direction {
    transform: translateY(0px);
    opacity: 1;
}

#wrap .video-direction.hide > div.direction {
    visibility: hidden;
}

#wrap .video-direction.loaded > video {
    opacity: 1;
}

#wrap .video-direction > .movieclip {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 330px;
    height: 550px;
}

#wrap .video-direction > div.direction {
    position: absolute;
    background-image: url("/content/digenglishCB_lib/D/reading_english/common/direction.png");
    width: 787px;
    height: 181px;
    left: calc(43% - 787px/2);
    top: calc(50% - 181px/2);
}

#wrap .video-direction > div.lesson {
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: 20px;
    color: #fff;
}

#wrap .s_warmup > .box {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 50%;
    height: auto;
    transform: translateY(-50%);
    transition: top 0.3s;
}

#wrap .s_warmup > .box > .speaker {
    position: relative;
    left: 205px;
    transition: top 0.3s;
}

#wrap .s_warmup > .box > .speaker > img {
    display: inline-block;
    vertical-align: middle;
}

#wrap .s_warmup > .box > .speaker > div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 863px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 0px 30px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#wrap .s_warmup > .box > .speaker > div > div {
    position: relative;
    top: 50%;
    transform: translateY(-52%);
    /*font-size: 52px;*/
    font-weight: bold;
    line-height: 1.2;
    height: auto;
}

#wrap .s_warmup > .box > .speaker.key-on {
    top: 36px;
}

#wrap .s_warmup > .box > .s_typing {
    position: relative;
    left: 205px;
    transition: margin-top 0.3s;
    margin-top: 40px;
}

#wrap .s_warmup > .box > .s_typing .area-bnd {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 894px;
    margin-right: 5px;
}

#wrap .s_warmup > .box > .s_typing .area-bnd .k-tarea {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 64px;
}

#wrap .s_warmup > .box > .s_typing .area-bnd .k-tarea textarea {
    box-sizing: border-box;
    font-size: 52px;
    padding: 30px 35px 30px 30px;
    color: #000;
    font-family: NotoSans;
    font-weight: bold;
}

#wrap .s_warmup > .box > .s_typing .area-bnd .k-tarea textarea::disabled {
    color: #000;
}

#wrap .s_warmup > .box > .s_typing .area-bnd .k-tarea .k-tarea-bg {
    height: 0px;
    min-height: 100%;
}

#wrap .s_warmup > .box > .s_typing .area-bnd .k-tarea .k-tarea-bar {
    display: none;
}

#wrap .s_warmup > .box > .s_typing .area-bnd canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

#wrap .s_warmup > .box > .s_typing > img {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 115px;
    height: 115px;
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
}

#wrap .s_warmup > .box > .s_typing > img.pink {
    border-color: #ce74e1;
}

#wrap .s_warmup > .box > .s_typing > img.green {
    border-color: #22cdac;
}

#wrap .s_warmup > .box > .s_typing > img.orange {
    border-color: #ffba00;
}

#wrap .s_warmup > .box > .s_typing > img.purple {
    border-color: #7471ec;
}

#wrap .s_warmup > .box.key-on {
    top: 28%;
}

#wrap .s_warmup > .box.key-on > .s_typing {
    margin-top: 20px;
}

#wrap .s_warmup .fel_toteacher {
    position: absolute;
    z-index: 11;
    touch-action: none;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/toteacher.svg");
    background-repeat: no-repeat;
    width: 95px;
    height: 87px;
    cursor: pointer;
    pointer-events: unset;
}

#wrap .s_warmup .fel_toteacher.on {
    background-image: url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .s_warmup .fel_toteacher:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/toteacher.svg") url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .s_warmup .fel_toteacher.on {
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
}

#wrap .s_passage {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/bg_s_passage.png");
}

#wrap .s_passage .passage_page {
    width: 74px;
    height: 36px;
    /*background-color: rgba(195, 169, 191,0.9);
			border-radius: 50px; */
    position: absolute;
    top: 7px;
    right: 30px;
    text-align: right;
}

#wrap .s_passage .passage_page > span {
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 33px;
}

#wrap .s_passage .page {
    width: 1200px;
    height: 680px;
    overflow: hidden;
    position: absolute;
    top: 78px;
    left: 40px;
}

#wrap .s_passage .page .swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
    color: white;
    padding: 0px 32px;
    touch-action: none;
}

#wrap .s_passage .page .swiper-container .script {
    line-height: 75px;
    white-space: normal;
    word-break: normal;
    font-size: 40px;
    letter-spacing: -1.8px;
    height: auto;
}

#wrap .s_passage .page .swiper-container .script .eng {
    height: auto;
    color: black;
}

#wrap .s_passage .page .swiper-container .script .eng > span.word {
    transition-duration: 0.3s;
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    padding: 0px 6px;
}

#wrap .s_passage .page .swiper-container .script .eng.on {
    color: blue;
}

#wrap .s_passage .page .swiper-container .script .eng.on.bg-on > span {
    background-color: #fff08e;
}

#wrap .s_passage .page .swiper-container .script .eng.selected {
    color: blue;
}

#wrap .s_passage .page .swiper-container .script .eng.view-trans {
    line-height: 1.3;
}

#wrap .s_passage .page .swiper-container .script .trans {
    padding: 0px 6px;
    position: relative;
    font-size: 34px;
    line-height: 1.3;
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
}

#wrap .s_passage .page .swiper-container .script .trans > span {
    background-color: #fff08e;
}

#wrap .s_passage .page .swiper-container .swiper-slide {
    height: auto;
}

#wrap .s_passage .page .swiper-container .swiper-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

#wrap .s_passage .page .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#wrap .s_passage .img_pop {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    bottom: 21px;
    left: 275px;
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/pop_click.png");
    width: 730px;
    height: 76px;
    z-index: 2;
    transition: opacity 0.3s;
}

#wrap .s_passage .img_pop.on {
    opacity: 1;
}

#wrap .s_passage .btn_box {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 664px;
    height: 142px;
    position: absolute;
    bottom: -142px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    text-align: center;
    transition: bottom 0.3s;
}

#wrap .s_passage .btn_box .btn_yes {
    margin: 25px 10px;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_yes.png");
    background-repeat: no-repeat;
    width: 297px;
    height: 96px;
    cursor: pointer;
    pointer-events: unset;
}

#wrap .s_passage .btn_box .btn_yes.on {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_yes_down.png");
}

#wrap .s_passage .btn_box .btn_yes:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_yes.png") url("/content/digenglishCB_lib/D/reading_english/student/images/btn_yes_down.png");
}

#wrap .s_passage .btn_box .btn_no {
    margin: 25px 10px;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_no.png");
    background-repeat: no-repeat;
    width: 297px;
    height: 96px;
    cursor: pointer;
    pointer-events: unset;
}

#wrap .s_passage .btn_box .btn_no.on {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_no_down.png");
}

#wrap .s_passage .btn_box .btn_no:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_no.png") url("/content/digenglishCB_lib/D/reading_english/student/images/btn_no_down.png");
}

#wrap .s_passage .btn_box.on {
    bottom: 0px;
}

#wrap .s_passage .fel_toteacher {
    position: absolute;
    z-index: 11;
    touch-action: none;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/toteacher.svg");
    background-repeat: no-repeat;
    width: 95px;
    height: 87px;
    cursor: pointer;
    pointer-events: unset;
}

#wrap .s_passage .fel_toteacher.on {
    background-image: url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .s_passage .fel_toteacher:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/toteacher.svg") url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .s_passage .fel_toteacher.on {
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
}

#wrap .s_question {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

#wrap .s_question .left {
    background-color: #dfe7ff;
    width: 630px;
    height: 800px;
    overflow: hidden;
}

#wrap .s_question .left .swiper-container {
    width: 630px;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
    color: white;
}

#wrap .s_question .left .swiper-container .script-wrap {
    height: auto;
    padding: 28px 40px 0px 40px;
}

#wrap .s_question .left .swiper-container .script-wrap .passage {
    font-size: 32px;
    /* reading_english 190425 수정사항 p.20 */
    color: black;
    /* 색수정  color: rgb(46, 45, 43); */
    line-height: 1.5;
    white-space: normal;
    word-break: normal;
    margin-bottom: 40px;
    /*
						&>span{
							padding-left: 20px;
						}
						*/
}

#wrap .s_question .left .swiper-container .swiper-slide {
    height: auto;
}

#wrap .s_question .left .swiper-container .swiper-scrollbar {
    width: 8px;
    right: 7px;
    background-color: transparent;
}

#wrap .s_question .left .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: rgba(0, 0, 0, 0.1);
}

#wrap .s_question .right {
    width: 650px;
    height: 800px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

#wrap .s_question .right .btn_page_box {
    width: 100%;
    height: 0px;
    overflow: visible;
    text-align: center;
    z-index: 2;
    position: relative;
    top: 38px;
    cursor: pointer;
}

#wrap .s_question .right .btn_page_box > span {
    box-sizing: border-box;
    display: inline-block;
    width: 66px;
    height: 66px;
    font-size: 26px;
    line-height: 100%;
    padding-top: 10px;
    /* 값 수정 padding-top: 15px;*/
    font-size: 34px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
}

#wrap .s_question .right .btn_page_box > span.on {
    color: #f8f64d;
}

#wrap .s_question .right .btn_page_box > span.correct {
    background-image: url("/content/digenglishCB_lib/D/reading_english/common/icon_o.png");
}

#wrap .s_question .right .btn_page_box > span.wrong {
    background-image: url("/content/digenglishCB_lib/D/reading_english/common/icon_x.png");
}

#wrap .s_question .right .btn_page_box.off {
    display: none;
}

#wrap .s_question .right .swiper-container {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

#wrap .s_question .right .swiper-container .question {
    width: 650px;
    position: relative;
    top: 130px;
    height: 100px;
    padding: 0px 30px;
    font-size: 36px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap .s_question .right .swiper-container .question > div {
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
}

#wrap .s_question .right .swiper-container .question > div > div {
    color: black;
    white-space: normal;
}

#wrap .s_question .right .swiper-container .choice_box {
    position: relative;
    top: 166px;
    text-align: left;
    white-space: normal;
    left: 30px;
    width: 582px;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_s.png");
    background-repeat: no-repeat;
    width: 582px;
    height: 88px;
    cursor: pointer;
    pointer-events: unset;
    position: relative;
    margin-bottom: 19px;
    text-align: left;
    padding: 0px 10px 10px 55px;
    color: black;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.on {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_s_down.png");
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_s.png") url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_s_down.png");
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-1::after {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    content: "A";
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 100%;
    background-image: url("/content/digenglishCB_lib/images/mc_num_bg.png");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-1.correct::after {
    color: #fff;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-2::after {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    content: "B";
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 100%;
    background-image: url("/content/digenglishCB_lib/images/mc_num_bg.png");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-2.correct::after {
    color: #fff;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-3::after {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    content: "C";
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 100%;
    background-image: url("/content/digenglishCB_lib/images/mc_num_bg.png");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-3.correct::after {
    color: #fff;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-4::after {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    content: "D";
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 100%;
    background-image: url("/content/digenglishCB_lib/images/mc_num_bg.png");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-4.correct::after {
    color: #fff;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-5::after {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    content: "E";
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 100%;
    background-image: url("/content/digenglishCB_lib/images/mc_num_bg.png");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-5.correct::after {
    color: #fff;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-6::after {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    content: "F";
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 100%;
    background-image: url("/content/digenglishCB_lib/images/mc_num_bg.png");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.btn-mc-6.correct::after {
    color: #fff;
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.correct {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_s_correct.png");
}

#wrap .s_question .right .swiper-container .choice_box .btn_choice.wrong {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_s_wrong.png");
}

#wrap .s_question .right .btn_next {
    position: absolute;
    bottom: 26px;
    right: 10px;
    z-index: 2;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_next.png");
    background-repeat: no-repeat;
    width: 190px;
    height: 103px;
    pointer-events: unset;
    cursor: pointer;
}

#wrap .s_question .right .btn_next:disabled {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_next.png");
    pointer-events: none;
    cursor: auto;
}

#wrap .s_question .right .btn_next.down {
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_next.png");
}

#wrap .s_question .right .btn_next:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_next.png") url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_next.png") url("/content/digenglishCB_lib/D/reading_english/student/images/btn_question_next.png");
}

#wrap .s_question .fel_toteacher {
    position: absolute;
    z-index: 11;
    touch-action: none;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/toteacher.svg");
    background-repeat: no-repeat;
    width: 95px;
    height: 87px;
    cursor: pointer;
    pointer-events: unset;
}

#wrap .s_question .fel_toteacher.on {
    background-image: url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .s_question .fel_toteacher:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/toteacher.svg") url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .s_question .fel_toteacher.on {
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
}

#wrap .s_v_script {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    /* reading_english 190425 수정사항 p.12 */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-image: url("/content/digenglishCB_lib/D/reading_english/student/images/bg_s_passage.png");
}

#wrap .s_v_script .page {
    /* reading_english 190425 수정사항 p.12 */
    /* width: 1200px; height: 100%;
			overflow: hidden;
            position: absolute; top: 0px; left: 40px; */
    width: 1200px;
    height: 680px;
    overflow: hidden;
    position: absolute;
    top: 78px;
    left: 40px;
}

#wrap .s_v_script .page .swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
    color: white;
    padding: 0px 32px;
    touch-action: none;
}

#wrap .s_v_script .page .swiper-container .script {
    line-height: 100px;
    white-space: normal;
    word-break: normal;
    font-size: 40px;
    letter-spacing: -1.8px;
    height: auto;
}

#wrap .s_v_script .page .swiper-container .script .eng {
    height: auto;
    color: black;
}

#wrap .s_v_script .page .swiper-container .script .eng > span.word {
    transition-duration: 0.3s;
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    padding: 0px 6px;
}

#wrap .s_v_script .page .swiper-container .script .eng.on {
    color: blue;
}

#wrap .s_v_script .page .swiper-container .script .eng.on.bg-on > span.word {
    background-color: #fff08e;
}

#wrap .s_v_script .page .swiper-container .script .eng.selected {
    color: blue;
}

#wrap .s_v_script .page .swiper-container .swiper-scrollbar {
    /* reading_english 190425 수정사항 p.12 */
    /* @include swiper_scrollbar(7px, rgba(255, 255, 255, 0.4), 10px); */
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

#wrap .s_v_script .page .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#wrap .fel_toteacher {
    position: absolute;
    z-index: 11;
    touch-action: none;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/toteacher.svg");
    background-repeat: no-repeat;
    width: 95px;
    height: 87px;
    cursor: pointer;
    pointer-events: unset;
}

#wrap .fel_toteacher.on {
    background-image: url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .fel_toteacher:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/toteacher.svg") url("/content/digenglishCB_lib/images/toteacher_on.svg");
}

#wrap .fel_toteacher.on {
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
}

.keyboard-box {
    position: absolute;
    width: 100%;
    height: 375px;
    text-align: center;
    background-color: #d1d4db;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    bottom: 0px;
    z-index: 100;
    transition: bottom 0.3s;
}

.keyboard-box.hide {
    display: none;
}

.keyboard-box.off {
    bottom: -400px;
}

.keyboard-box img {
    vertical-align: middle;
}

.keyboard-box > div {
    padding: 5.7px 0px;
    height: auto;
    white-space: nowrap;
    /*
		&>button{
			display:inline-block;
			position:relative;
			text-align:center;
			height:74px;
			line-height:55px;
			vertical-align:middle;
			font-family: myriad-pro;
			font-size: 43px;
			color:#4d4d4d;
			padding-top:6px;
			background-color:#fff;
			border-radius:8px;
			overflow:hidden;
			box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3);
			outline-width: 0px;
			cursor:pointer;

			&.down, &.on{
				background-color:#808080;
				color:#ccc;
				border-color:#666;
				top:4px;left:0px;
				box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
			}

			&.s{
				width:80px;
			}
			&.m{
				width:101px;
			}
			&.b{
				width:168px;
			}		
			&.capslock{
				padding-top:2px;
				font-size:25px;
				line-height:120%;
				vertical-align:middle;
			}
			
			&.done {
				background-color: #1e75f4;
				color: rgb(250, 250, 250);
			}
		
			&.key_back{
				background-image:resolve('digenglishCB_lib/images/keyboard/key_back.png');
				background-repeat : no-repeat;
				background-position:center;

				&.down{
					background-image: resolve('digenglishCB_lib/images/keyboard/key_back_down.png');
				}
			}

			&.key_hide{
				background-image:resolve('digenglishCB_lib/images/keyboard/key_hide.png');
				background-repeat : no-repeat;
				background-position:center;

				&.down{
					background-image:resolve('digenglishCB_lib/images/keyboard/key_hide_down.png');
				}
			}
		}
		*/
}

.keyboard-box > div:nth-child(1) {
    padding-top: 20px;
}

.keyboard-box > div:nth-child(1) > button {
    margin: 0px 5.5px;
}

.keyboard-box > div:nth-child(2) > button {
    margin: 0px 8px;
}

.keyboard-box > div:nth-child(3) > button {
    margin: 0px 8px;
}

.keyboard-box > div:nth-child(3) > button:first-child {
    margin-left: 56px;
}

.keyboard-box > div:nth-child(4) {
    padding-bottom: 24px;
}

.keyboard-box > div:nth-child(4) > button {
    margin: 0px 8px;
}

.keyboard-box > div > button {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 55px;
    vertical-align: middle;
    font-family: myriad-pro;
    font-size: 43px;
    color: #4d4d4d;
    padding-top: 6px;
}

.keyboard-box > div > button.s {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_num.png");
    background-repeat: no-repeat;
    width: 78px;
    height: 75px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box > div > button.s:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_num.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box > div > button.s.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_num_down.png");
}

.keyboard-box > div > button.s:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_num.png") url("/content/digenglishCB_lib/images/keyboard/key_num_down.png") url("/content/digenglishCB_lib/images/keyboard/key_num.png");
}

.keyboard-box > div > button.s.key_back {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_back.png");
    background-repeat: no-repeat;
    width: 78px;
    height: 75px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box > div > button.s.key_back:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_back.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box > div > button.s.key_back.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_back_down.png");
}

.keyboard-box > div > button.s.key_back:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_back.png") url("/content/digenglishCB_lib/images/keyboard/key_back_down.png") url("/content/digenglishCB_lib/images/keyboard/key_back.png");
}

.keyboard-box > div > button.m {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_alpha.png");
    background-repeat: no-repeat;
    width: 98px;
    height: 75px;
    pointer-events: unset;
    cursor: pointer;
    /*
				&.key_tab {
					@include btn_down_dis(
						resolve('digenglishCB_lib/images/keyboard/key_tab.png'),
						resolve('digenglishCB_lib/images/keyboard/key_tab_down.png'),
						resolve('digenglishCB_lib/images/keyboard/key_tab.png'),
						width('digenglishCB_lib/images/keyboard/key_tab.png'),
						height('digenglishCB_lib/images/keyboard/key_tab.png')
					);
				}
				*/
}

.keyboard-box > div > button.m:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_alpha.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box > div > button.m.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_alpha_down.png");
}

.keyboard-box > div > button.m:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_alpha.png") url("/content/digenglishCB_lib/images/keyboard/key_alpha_down.png") url("/content/digenglishCB_lib/images/keyboard/key_alpha.png");
}

.keyboard-box > div > button.key_shift {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_shift.png");
    background-repeat: no-repeat;
    width: 98px;
    height: 75px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box > div > button.key_shift:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_shift.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box > div > button.key_shift.on {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_shift_down.png");
}

.keyboard-box > div > button.key_shift:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_shift.png") url("/content/digenglishCB_lib/images/keyboard/key_shift_down.png") url("/content/digenglishCB_lib/images/keyboard/key_shift.png");
}

.keyboard-box > div > button.key_enter {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_enter.png");
    background-repeat: no-repeat;
    width: 166px;
    height: 75px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box > div > button.key_enter:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_enter.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box > div > button.key_enter.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_enter_down.png");
}

.keyboard-box > div > button.key_enter:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_enter.png") url("/content/digenglishCB_lib/images/keyboard/key_enter_down.png") url("/content/digenglishCB_lib/images/keyboard/key_enter.png");
}

.keyboard-box > div > button.done {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_done.png");
    background-repeat: no-repeat;
    width: 166px;
    height: 75px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box > div > button.done:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_done.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box > div > button.done.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_done.png");
}

.keyboard-box > div > button.done:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_done.png") url("/content/digenglishCB_lib/images/keyboard/key_done.png") url("/content/digenglishCB_lib/images/keyboard/key_done.png");
}

.keyboard-box > div > button.done.dis {
    opacity: 0.5;
    pointer-events: none;
}

.keyboard-box > div > button.key_space {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_space.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 75px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box > div > button.key_space:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_space.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box > div > button.key_space.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_space_down.png");
}

.keyboard-box > div > button.key_space:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_space.png") url("/content/digenglishCB_lib/images/keyboard/key_space_down.png") url("/content/digenglishCB_lib/images/keyboard/key_space.png");
}

.keyboard-box .key_view {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 101;
    position: absolute;
    left: 20px;
    top: -80px;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_view.png");
    background-repeat: no-repeat;
    width: 85px;
    height: 76px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box .key_view:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_view.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box .key_view.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_view_down.png");
}

.keyboard-box .key_view:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_view.png") url("/content/digenglishCB_lib/images/keyboard/key_view_down.png") url("/content/digenglishCB_lib/images/keyboard/key_view.png");
}

.keyboard-box .key_hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 100;
    position: absolute;
    top: -55px;
    left: 20px;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_hide.png");
    background-repeat: no-repeat;
    width: 83px;
    height: 59px;
    pointer-events: unset;
    cursor: pointer;
}

.keyboard-box .key_hide:disabled {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_hide.png");
    pointer-events: none;
    cursor: auto;
}

.keyboard-box .key_hide.down {
    background-image: url("/content/digenglishCB_lib/images/keyboard/key_hide_down.png");
}

.keyboard-box .key_hide:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/keyboard/key_hide.png") url("/content/digenglishCB_lib/images/keyboard/key_hide_down.png") url("/content/digenglishCB_lib/images/keyboard/key_hide.png");
}

.keyboard-box.on .key_hide {
    opacity: 1;
    z-index: 102;
}

.keyboard-box.off .key_view {
    opacity: 1;
    pointer-events: unset;
}

.keyboard-box button.alpha {
    text-transform: lowercase;
}

.keyboard-box.uppercase button.alpha {
    text-transform: uppercase;
}

.k-tarea {
    box-sizing: border-box;
    overflow: hidden;
    font-family: NotoSans;
    /*
	@mixin k_trea_bar($width, $color, $radius) {
		background: rgba(0, 0, 0, 0);
		width:$width;
		.swiper-scrollbar-drag {
			width:$width;
			background: $color;
			border-radius: $radius;
		}
	}
	*/
}

.k-tarea .k-tarea-bg {
    position: relative;
}

.k-tarea textarea {
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    bottom: 2px;
    resize: none;
    border-width: 0px;
    outline-width: 0px;
    background-color: transparent;
    overflow: hidden;
}

.k-tarea .k-tarea-bar {
    touch-action: none;
    position: absolute;
    right: 0px;
    width: 29px;
    top: 1%;
    height: 98%;
}

.k-tarea .k-tarea-bar .k-tarea-drag {
    position: absolute;
    width: 9px;
    right: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.k-tarea.auto-resize {
    height: auto;
}

.k-tarea.auto-resize textarea {
    bottom: unset;
}

.k-tarea.auto-resize .k-tarea-bar {
    display: none;
}

@charset "UTF-8";
html, body {
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 0px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 버튼 포커스시 색상 변하는 현상 방지 */
    font-family: NotoSans !important;
    -webkit-font-smoothing: antialiased;
    font-size: 8px;
    overflow: hidden;
}

button {
    font-family: NotoSans !important;
    -webkit-font-smoothing: antialiased;
}

img {
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 0px;
    outline: 0px solid transparent;
}

div, p {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#common_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#ding_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#dingend_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#wrap {
    width: 1280px;
    height: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.bg_svg {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

.swiper-scrollbar.white {
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

.swiper-scrollbar.white .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.swiper-scrollbar.black {
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

.swiper-scrollbar.black .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.common_back {
    background-size: 100% 100%;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/digenglishCB_lib/images/btn_back.png");
    background-repeat: no-repeat;
    width: 78px;
    height: 73px;
    pointer-events: unset;
    cursor: pointer;
}

.common_back:disabled {
    background-image: "";
    pointer-events: none;
    cursor: auto;
}

.common_back.down {
    background-image: url("/content/digenglishCB_lib/images/btn_back_down.png");
}

.common_back:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/digenglishCB_lib/images/btn_back.png") url("/content/digenglishCB_lib/images/btn_back_down.png") "";
}

.common_back.down {
    transform: scale(1.1, 1.1);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 16px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #47F6E9;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#preload_hidden {
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}

#preload_hidden .helvetica {
    font-family: HelveticaRounded;
}

#preload_hidden .helveticastd {
    font-family: HelveticaRoundedLTStd;
}

