@import '../../../share/CoverPopup.scss';
@mixin check_result {
    .result_view {
        @include CoverPopup(10001);
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        .closed_hint {
            display: none;
        }
        .pop_bg {
            background-image: resolve('teacher/images/bg_t.png');
            width: width('teacher/images/bg_t.png');
            height: height('teacher/images/bg_t.png');
            margin: 0 auto;
            position: relative;
            .btn_letstalk_close {
                @include btn_on_dis( resolve('teacher/images/btn_close.png'), resolve('teacher/images/btn_close_down.png'), resolve('teacher/images/btn_close.png'), width('teacher/images/btn_close.png'), height('teacher/images/btn_close.png'), );
                position: absolute;
                right: 10px;
                top: 13px;
                z-index: 2;
            }
            .popbox {
                position: absolute;
                top: 50px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                text-align: center;
                letter-spacing: -0.6px;
                white-space: normal;
                font-size: 24px;
                line-height: 41px;
                font-family: NanumGothic;
                font-weight: bold;
                padding-top: 50px;
                span.word {
                    display: inline-block;
                    padding: 0px 6px;
                    white-space: nowrap;
                }
                .content {
                    width: 1200px;
                    height: 600px;
                    margin: 0 auto;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 15px;
                    .table{
                        overflow: auto;
                        height: 600px;
                        width: 800px;
                        margin: 0 auto;
                        &>div{
                            display: block;
                            float: left;
                            width: 200px;
                            height: 230px;
                        }
                        .thumnail{
                            width: 180px;
                            height: auto;
                        }
                        .status{

                            .s_img{
                                
                            }
                            .name{

                            }
                            .score{

                            }
                        }
                        &::-webkit-scrollbar {
                            width: 7px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: rgba(255, 255, 255, 0.25);
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-track {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}