@import '../../../share/CoverPopup.scss';
@import './_result_screen_popup.scss';
@mixin check_result {
    .result_view {
        @include CoverPopup(10001);
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        .closed_hint {
            display: none;
        }
        .pop_bg {
            background-image: resolve('teacher/images/bg_t.png');
            width: width('teacher/images/bg_t.png');
            height: height('teacher/images/bg_t.png');
            margin: 0 auto;
            position: relative;
            &.hide{
                display: none;
            }
            .btn_letstalk_close {
                @include btn_on_dis( resolve('teacher/images/btn_close.png'), resolve('teacher/images/btn_close_down.png'), resolve('teacher/images/btn_close.png'), width('teacher/images/btn_close.png'), height('teacher/images/btn_close.png'), );
                position: absolute;
                right: 10px;
                top: 13px;
                z-index: 2;
            }
            .btn_popup_close {
                @include btn_on_dis( resolve('teacher/images/btn_close.png'), resolve('teacher/images/btn_close_down.png'), resolve('teacher/images/btn_close.png'), width('teacher/images/btn_close.png'), height('teacher/images/btn_close.png'), );
                position: absolute;
                right: 10px;
                top: 13px;
                z-index: 2;
            }
            .subject_rate {
                position: relative;
                width: width('teacher/images/sub_status.png');
                height: height('teacher/images/sub_status.png');
                text-align: center;
                color: white;
                font-size: 19px;
                padding-left: 17px;
                line-height: 38px;
                margin: 0 auto;
                top: 47px;
                background-image: resolve('teacher/images/sub_status.png');
            }
            .popbox {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                text-align: center;
                letter-spacing: -0.6px;
                white-space: normal;
                font-size: 24px;
                line-height: 41px;
                font-family: NanumGothic;
                font-weight: bold;
                padding-top: 100px;
                span.word {
                    display: inline-block;
                    padding: 0px 6px;
                    white-space: nowrap;
                }
                @include result_screen;
                .content {
                    position: relative;
                    width: 1140px;
                    height: 600px;
                    margin: 0 auto;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 15px;
                    padding-top: 70px;
                    overflow: auto;
                    &>div{
                        position: absolute;
                        left: 30px;
                        top: 24px;
                        z-index: 2;
                    }
                    .all_student{
                        @include btn_on_dis( resolve('teacher/images/btn_total.png'), resolve('teacher/images/btn_total.png'), resolve('teacher/images/btn_total.png'), width('teacher/images/btn_total.png'), height('teacher/images/btn_total.png'), );
                    }
                    .correct_answer{
                        @include btn_on_dis( resolve('teacher/images/btn_result_correct.png'), resolve('teacher/images/btn_result_correct.png'), resolve('teacher/images/btn_result_correct.png'), width('teacher/images/btn_result_correct.png'), height('teacher/images/btn_result_correct.png'), );
                    }
                    .wrong_answer{
                        @include btn_on_dis( resolve('teacher/images/btn_result_wrong.png'), resolve('teacher/images/btn_result_wrong.png'), resolve('teacher/images/btn_result_wrong.png'), width('teacher/images/btn_result_wrong.png'), height('teacher/images/btn_result_wrong.png'), );
                    }
                    .table{
                        position: relative;
                        display: table;
                        width: 1000px;
                        margin: 0 auto;
                        left: 0;
                        &>div{
                            display: block;
                            float: left;
                            width: calc(100% / 4);
                            height: 230px;
                            padding: 0 15px 0 10px;
                            margin-bottom: 27px;                            
                        } 
                        .thumnail{
                            width: 100%;
                            height: auto;
                            border: 3px solid #fff;
                            border-radius: 15px;
                            background-image: resolve('student/images/bg_ls.png');
                            background-size: contain;
                        }
                        .status{
                            position: relative;
                            display: flex;
                            justify-content: center;
                            font-size: 20px;
                            color: #fff;
                            &.no_send{
                                opacity: 0.5;
                            }
                            &>img{
                                display: block;
                                width: 50px;
                                height: 50px;
                                float: left;
                                border-radius: 50%;
                                border-width: 4px;
                                border-style: solid;
                                margin-right: 8px;
                                &.pink{border-color: rgb(206, 116, 225);}
                                &.green{border-color: rgb(34,205,172);}
                                &.orange{border-color: rgb(255,186,0);}
                                &.purple{border-color: rgb(116,113,236);}
                            }
                            .s_name{
                                height: 23px;
                                line-height: 23px;
                                margin-bottom: 7px;
                            }
                            .score{
                                font-size: 13px;
                                line-height: 23px;
                                padding-right: 30px;
                                text-align: end;
                                float: right;
                                width: width('teacher/images/score.png');
                                height: height('teacher/images/score.png');
                                background-image: resolve('teacher/images/score.png');
                            }
                        }
                    }
                    &::-webkit-scrollbar {
                        width: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(255, 255, 255, 0.25);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}