@mixin dictation_quiz {
    .dictation {
        font-family: NanumGothic;
        font-weight: bold;
        .white_board {
            display: inline-block;
            position: relative;
            background-color: #fff;
            border-radius: 17px;
            width: 1027px;
            height: 492px;
            overflow: hidden;
            
            /*보충, 기본, 심화*/
            .dict_question {
                overflow: auto;
                height: 385px;
                position: relative;
                text-align: left;
                font-size: 28px;
                line-height: 51px;
                margin: 45px 5px 0px 30px;

                .blank_sentence {
                    display: flex;
                    margin-bottom: 66px;
                    :last-child {
                        margin-bottom: 0px;
                    }
                }
                .block {
                    color: rgb(0, 0, 255);
                    min-width: 230px;
                    border-bottom: 2px solid #000;
                    display: inline-block;
                    text-align: center;
                }
                .answer_box {
                    display: inline-block;
                    border-bottom: 2px solid #000;
                    margin-bottom: 25px;
                    .sample {
                        min-height: 55px;
                        padding-bottom: 5px;
                    }
                    .hide {
                        display: none;
                    }
                    .hint {
                        vertical-align: center;
                        min-height: 55px;
                        padding-bottom: 5px;
                        color: rgb(0, 0, 255);
                    }
                }
                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
            }
        }
    }
}