@import '../../../share/CoverPopup.scss';
@import './_result_screen_popup.scss';
@mixin submit_status_popup {                
    @include result_status_popup;
    .submit_status_popup {
        @include CoverPopup(10001);
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        .btn_page_box{
            width: 100%; height: 0px;
				overflow: visible;text-align: center;
				z-index: 2;
				position: relative; top: 38px;
                cursor: pointer;
				&>span {
                    margin: 0px 16px;
                    font-size: 16px;
                    color: rgba(179, 179, 179, 0.5);
                    font-weight: bold;
                    &.on {
                        color: rgb(248, 246, 77);
                    }
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.1),
                                -1px 1px 1px rgba(0,0,0,0.1),
                                -1px -1px 1px rgba(0,0,0,0.1),
                                1px -1px 1px rgba(0,0,0,0.1);
                }
				&.off{display: none;}
        }
        .pop_bg {
            background-image: resolve('teacher/images/bg_t.png');
            width: width('teacher/images/bg_t.png');
            height: height('teacher/images/bg_t.png');
            margin: 0 auto;
            position: relative;
            &.hide{
                display: none;
            }
            .btn_popup_close {
                @include btn_on_dis( resolve('teacher/images/btn_close.png'), resolve('teacher/images/btn_close_down.png'), resolve('teacher/images/btn_close.png'), width('teacher/images/btn_close.png'), height('teacher/images/btn_close.png'), );
                position: absolute;
                right: 10px;
                top: 13px;
                z-index: 2;
            }
            .subject_rate {
                position: relative;
                width: width('teacher/images/sub_status.png');
                height: height('teacher/images/sub_status.png');
                text-align: center;
                color: white;
                font-size: 19px;
                padding-left: 17px;
                line-height: 38px;
                margin: 0 auto;
                top: 47px;
                background-image: resolve('teacher/images/sub_status.png');
            }
            .popbox {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                text-align: center;
                letter-spacing: -0.6px;
                white-space: normal;
                font-size: 24px;
                line-height: 41px;
                font-family: NanumGothic;
                font-weight: bold;
                padding-top: 100px;
                span.word {
                    display: inline-block;
                    padding: 0px 6px;
                    white-space: nowrap;
                }
                .scroll{
                    overflow: auto;

                    &::-webkit-scrollbar {
                        width: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(255, 255, 255, 0.25);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                }
                // 제출 현황 페이지
                .submit_status {                    
                    position: relative;
                    width: 1140px;
                    height: 600px;
                    margin: 0 auto;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 15px;
                    padding: 65px 0 10px 0;
                    &>div{
                        position: absolute;
                        top: 10px;
                        z-index: 2;
                    }
                    .right_top{
                        right: 30px;
                        .toggle_btn{
                            @include btn_on_dis( resolve('teacher/images/btn_show_answer.png'), resolve('teacher/images/btn_show_answer.png'), resolve('teacher/images/btn_show_answer.png'), width('teacher/images/btn_show_answer.png'), height('teacher/images/btn_show_answer.png'), );
                        }
                    }
                    .table{
                        position: relative;
                        width: 1100px;
                        height: 100%;
                        margin: 0 auto;
                        padding: 5px 50px;
                        top: 0px;
                        left: 0;
                        &>div{
                            display: block;
                            width: calc(100% / 6);
                            float: left;
                            height: 230px;
                            padding: 0 15px 0 10px;
                            margin-bottom: 27px;
                            &>img{
                                display: block;
                                width: 110px;
                                height: 110px;
                                border-radius: 50%;
                                border-width: 6px;
                                border-style: solid;
                                margin: 0 auto;
                                &.pink{border-color: rgb(206, 116, 225);}
                                &.green{border-color: rgb(34,205,172);}
                                &.orange{border-color: rgb(255,186,0);}
                                &.purple{border-color: rgb(116,113,236);}
                            }                        
                        }
                        .status{
                            position: relative;
                            display: block;
                            font-size: 20px;
                            color: #fff;
                            &.no_send{
                                opacity: 0.5;
                            }
                            .s_name{
                                height: 23px;
                                line-height: 23px;
                                margin: 8px 0px;
                            }
                            .score{
                                font-size: 13px;
                                line-height: 23px;
                                padding-right: 30px;
                                text-align: end;
                                margin: 0 auto;
                                width: width('teacher/images/score.png');
                                height: height('teacher/images/score.png');
                                background-image: resolve('teacher/images/score.png');
                            }
                        }
                    }
                }
                // 본문 페이지
                .content {
                    position: relative;
                    width: 1140px;
                    height: 600px;
                    margin: 0 auto;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 15px;
                    padding: 65px 0 10px 0;
                    &>div{
                        position: absolute;
                        top: 10px;
                        z-index: 2;
                    }
                    .right_top{
                        right: 30px;
                        .toggle_btn{
                            @include btn_on_dis( resolve('teacher/images/btn_submit_status.png'), resolve('teacher/images/btn_submit_status.png'), resolve('teacher/images/btn_submit_status.png'), width('teacher/images/btn_submit_status.png'), height('teacher/images/btn_submit_status.png'), );
                        }
                    }
                    .sort_category{
                        left: 30px;
                        .all_student{
                            @include btn_on_dis( resolve('teacher/images/btn_total.png'), resolve('teacher/images/btn_total_down.png'), resolve('teacher/images/btn_total.png'), width('teacher/images/btn_total.png'), height('teacher/images/btn_total.png'), );
                        }
                        .correct_answer{
                            @include btn_on_dis( resolve('teacher/images/btn_result_correct.png'), resolve('teacher/images/btn_result_correct_down.png'), resolve('teacher/images/btn_result_correct.png'), width('teacher/images/btn_result_correct.png'), height('teacher/images/btn_result_correct.png'), );
                        }
                        .wrong_answer{
                            @include btn_on_dis( resolve('teacher/images/btn_result_wrong.png'), resolve('teacher/images/btn_result_wrong_down.png'), resolve('teacher/images/btn_result_wrong.png'), width('teacher/images/btn_result_wrong.png'), height('teacher/images/btn_result_wrong.png'), );
                        }
                    }
                    .table{
                        position: relative;
                        width: 1100px;
                        height: 100%;
                        margin: 0 auto;
                        padding: 5px 50px;
                        top: 0px;
                        left: 0;
                        &>div{
                            display: block;
                            float: left;
                            width: calc(100% / 4);
                            height: 230px;
                            padding: 0 15px 0 10px;
                            margin-bottom: 27px;                            
                        } 
                        .thumbnail{
                            width: 100%;
                            height: auto;
                            border: 3px solid #fff;
                            border-radius: 15px;
                            background-image: resolve('student/images/bg.png');
                            background-size: contain;
                        }
                        .status{
                            position: relative;
                            display: flex;
                            justify-content: center;
                            font-size: 20px;
                            color: #fff;
                            &.no_send{
                                opacity: 0.5;
                            }
                            &>img{
                                display: block;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                border-width: 4px;
                                border-style: solid;
                                margin-right: 8px;
                                &.pink{border-color: rgb(206, 116, 225);}
                                &.green{border-color: rgb(34,205,172);}
                                &.orange{border-color: rgb(255,186,0);}
                                &.purple{border-color: rgb(116,113,236);}
                            }
                            .s_name{
                                height: 23px;
                                line-height: 23px;
                                margin-bottom: 7px;
                            }
                            .score{
                                font-size: 13px;
                                line-height: 23px;
                                padding-right: 30px;
                                text-align: end;
                                float: right;
                                width: width('teacher/images/score.png');
                                height: height('teacher/images/score.png');
                                background-image: resolve('teacher/images/score.png');
                            }
                        }
                    }
                }                
            }
        }
    }
}