@import '../../../share/CoverPopup.scss';
@mixin trans_popup {
    .btn_pop_trans {
        @include btn_on_dis( resolve('teacher/images/btn_tranz.png'), resolve('teacher/images/btn_tranz.png'), resolve('teacher/images/btn_tranz.png'), width('teacher/images/btn_tranz.png'), height('teacher/images/btn_tranz.png'), );
        position: absolute;
        left: 80px;
        top: 130px;
        z-index: 100;
    }
    .pop_trans {
        @include CoverPopup(10001);
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
        .closed_hint {
            display: none;
        }
        .pop_bg {
            background-image: resolve('teacher/images/trans_bg.png');
            width: width('teacher/images/trans_bg.png');
            height: height('teacher/images/trans_bg.png');
            margin: 30px auto;
            position: relative;
            .btn_letstalk_close {
                @include btn_on_dis( resolve('teacher/images/letstalk_close.png'), resolve('teacher/images/letstalk_close_dis.png'), resolve('teacher/images/letstalk_close.png'), width('teacher/images/letstalk_close.png'), height('teacher/images/letstalk_close.png'), );
                position: absolute;
                right: 10px;
                top: 13px;
                z-index: 2;
            }
            .btn_hint {
                @include btn_on( resolve('teacher/images/C_answer.png'), resolve('teacher/images/C_answer.png'), width('teacher/images/C_answer.png'), height('teacher/images/C_answer.png'), );
                position: absolute;
                right: 20px;
                top: 65px;
                z-index: 2;
            }
            .popbox {
                position: absolute;
                top: 50px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                text-align: center;
                letter-spacing: -0.6px;
                white-space: normal;
                font-size: 24px;
                line-height: 41px;
                font-family: NanumGothic;
                font-weight: bold;
                span.word {
                    display: inline-block;
                    padding: 0px 6px;
                    white-space: nowrap;
                }
                .sentence_box {
                    position: relative;
                    text-align: left;
                    height: 160px;
                    padding: 0 30px;
                    &>div {
                        position: relative;
                        display: inline-block;
                        top: 150px;
                        transform: translateY(-50%);
                        .btn_audio {
                            @include btn_on( resolve('teacher/images/btn_speaker.png'), resolve('teacher/images/btn_speaker_on.png'), width('teacher/images/btn_speaker.png'), height('teacher/images/btn_speaker.png'));
                            vertical-align: top;
                            margin-top: 12px;
                            margin-right: 12px;
                        }
                        .question_box {
                            text-align: left;
                            vertical-align: top;
                            max-width: 1000px;
                        }
                        .kor_question_box {
                            color: #0066FF;
                            text-align: left;
                            display: inline-block;
                            vertical-align: top;
                            margin-left: 50px;
                            max-width: 1000px;
                        }
                    }
                }
            }
        }
    }
}