@import '../../../share/sendui.scss';
@import '../../../share/Progress_bar.scss';
@import '../../../share/CoverPopup.scss';
@import '../../script_container/index.scss';
@import '../t_video_box/index.scss';
@import '_intro_quiz.scss';
@import './confirm_quiz/index.scss';
@import './additional_quiz/index.scss';
@import '_dictation_quiz.scss';
@import '_trans_popup.scss';
@import '_submit_status_popup.scss';
@import '../../../share/QuizMCBtn.scss';
@mixin comprehension {
    .t_writing {
        background: resolve('teacher/images/bg_frame.png') no-repeat;
        width: width('teacher/images/bg_write.png');
        height: 613px;
        margin: 117px 66px 47px 69px;
        @include trans_popup;
        @include submit_status_popup;
        /*힌트 제공 팝업*/
        .pop_hint {
            @include CoverPopup(10001);
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.5);
            padding-top: 60px;
            .closed_hint {
                display: none;
            }
            .pop_bg {
                background-image: resolve('teacher/images/pop_bg.png');
                width: width('teacher/images/pop_bg.png');
                height: height('teacher/images/pop_bg.png');
                margin: 200px 0 0 407px;
                position: relative;
                .btn_close {
                    @include btn_on_dis( resolve('teacher/images/pop_close.png'), resolve('teacher/images/pop_close.png'), resolve('teacher/images/pop_close.png'), width('teacher/images/pop_close.png'), height('teacher/images/pop_close.png'), );
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    z-index: 2;
                }
                .btn_yes {
                    @include btn_on( resolve('teacher/images/btn_yes.png'), resolve('teacher/images/btn_yes.png'), width('teacher/images/btn_yes.png'), height('teacher/images/btn_yes.png'), );
                    position: absolute;
                    left: 90px;
                    width: 140px;
                    top: 200px;
                    z-index: 2;
                }
                .btn_no {
                    @include btn_on( resolve('teacher/images/btn_no.png'), resolve('teacher/images/btn_no.png'), width('teacher/images/btn_no.png'), height('teacher/images/btn_no.png'), );
                    position: absolute;
                    right: 90px;
                    width: 140px;
                    top: 200px;
                    z-index: 2;
                }
                .pop_msg {
                    @include btn_on( resolve('teacher/images/pop_msg.png'), resolve('teacher/images/pop_msg.png'), width('teacher/images/pop_msg.png'), height('teacher/images/pop_msg.png'), );
                    position: absolute;
                    right: 20px;
                    width: 320px;
                    top: 140px;
                    z-index: 2;
                }
            }
        }
        /*탭 버튼*/
        .btn_tabs {
            position: absolute;
            top: 75px;
            left: 88px;
            .btn_tab_introduction {
                @include btn_on( resolve('teacher/images/btn_tab_introduction_down.png'), resolve('teacher/images/btn_tab_introduction.png'), width('teacher/images/btn_tab_introduction.png'), height('teacher/images/btn_tab_introduction.png'));
                margin-right: 11px;
            }
            .btn_tab_confirm {
                @include btn_on( resolve('teacher/images/btn_tab_confirm_down.png'), resolve('teacher/images/btn_tab_confirm.png'), width('teacher/images/btn_tab_confirm.png'), height('teacher/images/btn_tab_confirm.png'));
                margin-right: 11px;
            }
            .btn_tab_additional {
                @include btn_on( resolve('teacher/images/btn_tab_additional_down.png'), resolve('teacher/images/btn_tab_additional.png'), width('teacher/images/btn_tab_additional.png'), height('teacher/images/btn_tab_additional.png'));
                margin-right: 11px;
            }
            .btn_tab_dictation {
                @include btn_on( resolve('teacher/images/btn_tab_dictation_down.png'), resolve('teacher/images/btn_tab_dictation.png'), width('teacher/images/btn_tab_dictation.png'), height('teacher/images/btn_tab_dictation.png'));
                margin-right: 11px;
            }
            .btn_tab_script {
                @include btn_on( resolve('teacher/images/btn_tab_script_down.png'), resolve('teacher/images/btn_tab_script.png'), width('teacher/images/btn_tab_script.png'), height('teacher/images/btn_tab_script.png'));
                margin-right: 11px;
            }
        }
        /* 화면에 따라 내용이 바뀌는 가운데*/
        .writing_content_box {
            position: relative;
            width: 1145px;
            height: 613px;
            .btn_page_box {
                position: absolute;
                top: 25px;
                width: 100%;
                height: 0px;
                overflow: visible;
                text-align: center;
                font-weight: bold;
                z-index: 2;
                cursor: pointer;
                &>span {
                    margin: 0px 12px;
                    font-size: 18px;
                    color: rgba(255, 255, 255, 1);
                    &.on {
                        color: rgb(248, 246, 77);
                    }
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
                    -2px 2px 2px rgba(0, 0, 0, 0.1),
                    -2px -2px 2px rgba(0, 0, 0, 0.1),
                    2px -2px 2px rgba(0, 0, 0, 0.1);
                }
                &.off {
                    display: none;
                }
            }
            /* question탭 활성화*/
            .question {
                width: 100%;
                height: 100%;
                .question_bg {
                    position: relative;
                    width: 100%;
                    height: 613px;
                    .closed_hint {
                        display: none;
                    }
                    .subject_rate {
                        position: absolute;
                        color: white;
                        text-align: right;
                        font-size: 12px;
                        padding-right: 25px;
                        line-height: 26px;
                        width: 87px;
                        height: 26px;
                        top: -80px;
                        left: 4px;
                        background-image: resolve('teacher/images/sub_rate.png');
                        &.hide {
                            display: none;
                        }
                    }
                    .correct_answer_rate {
                        width: 118px;
                        height: 26px;
                        background-image: resolve('teacher/images/correct_answer_rate.png');
                        @include compre_correct(-80px, 97px);
                        &.no-result {
                            padding-top: 7px;
                        }
                        &.hide {
                            display: none;
                        }
                        .title {
                            display: none;
                        }
                        &>.progress_bar {
                            width: 70px;
                            &>.data_percent {
                                left: 73px;
                            }
                        }
                    }
                    .btn_answer {
                        @include btn_on(resolve('teacher/images/C_answer.png'), resolve('teacher/images/C_answer_down.png'), width('teacher/images/C_answer.png'), height('teacher/images/C_answer.png'));
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        z-index: 2;
                        &.hide {
                            display: none;
                        }
                    }
                    .quiz_box {
                        position: absolute;
                        text-align: center;
                        white-space: normal;
                        top: 75px;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        letter-spacing: -0.6px;
                        span.word {
                            display: inline-block;
                            white-space: nowrap;
                            padding: 0px 6px;
                        }
                        .white_board {
                            .btn_trans {
                                @include btn_on( resolve('teacher/images/btn_korean_english.png'), resolve('teacher/images/btn_english_korean.png'), width('teacher/images/btn_korean_english.png'), height('teacher/images/btn_korean_english.png'), );
                                position: absolute;
                                left: 25px;
                                top: 20px;
                                z-index: 2;
                            }
                            .sentence_box {
                                height: 100px;
                                position: relative;
                                text-align: left;
                                font-size: 22px;
                                padding-left: 25px;
                                &>div {
                                    display: inline-block;
                                    transform: translateY(-50%);
                                    margin-top: 75px;
                                    .video_container {
                                        position: absolute;
                                        bottom: -3px;
                                        right: -33px;
                                        z-index: 2;
                                        @include t_video_box;
                                    }
                                    .hide {
                                        display: none;
                                    }
                                    .btn_audio {
                                        @include btn_on( resolve('teacher/images/btn_audio.png'), resolve('teacher/images/btn_audio.png'), width('teacher/images/btn_audio.png'), height('teacher/images/btn_audio.png'), );
                                        margin-top: 5px;
                                    }
                                    .question_box {
                                        text-align: left;
                                        display: inline-block;
                                        vertical-align: top;
                                        max-width: 1000px;
                                    }
                                }
                            }
                        }
                    }
                    @include intro_quiz;
                    @include confirm_quiz;
                    @include additional_quiz;
                    @include dictation_quiz;
                }
            }
            /* script탭 활성화*/
            .script_container {
                /* 
				border-radius: 10px;
				background-color: rgba(41, 44, 50,0.4); 
				*/
                background-color: transparent;
                position: absolute;
                left: 0px;
                width: 1150px;
                height: 520px;
                top: 0px;
                bottom: 38px;
                padding: 0px 10px;
                font-family: NanumGothic;
                font-weight: bold;
                .video_container {
                    position: relative;
                    margin-top: 10px;
                    z-index: 1001;
                    @include t_video_box;
                }
                .btn_script_show {
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    @include btn_on( resolve('teacher/images/btn_show.png'), resolve('teacher/images/btn_show_down.png'), width('teacher/images/btn_show.png'), height('teacher/images/btn_script_show.png'));
                }
                .video_container {
                    /*수정 필요*/
                    margin-top: 60px;
                }
                .audio {
                    position: relative;
                    display: inline-block;
                    margin-left: 512px;
                    .btn_audio {
                        display: block;
                        @include btn_on( resolve('teacher/images/btn_headset.png'), resolve('teacher/images/btn_headset.png'), width('teacher/images/btn_headset.png'), height('teacher/images/btn_headset.png'), );
                    }
                }
                .swiper-container {
                    height: 100%;
                    padding: 0 35px;
                    .swiper-scrollbar {
                        top: 1%;
                        height: 98%;
                        background-color: transparent;
                        width: 5px;
                        .swiper-scrollbar-drag {
                            background-color: rgba(255, 255, 255, 0.6) !important;
                        }
                    }
                    .script_box {
                        @include script_box;
                    }
                    .script_box:first-child {
                        margin-top: 20px;
                    }
                }
                &.hide {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
        /* 팝업버튼관련*/
        .bottom {
            .btn_QA {
                position: absolute;
                left: 30%;
                transform: translateX(-50%);
                z-index: 1000;
                @include btn_on_dis( resolve('teacher/images/btn_QA.png'), resolve('teacher/images/btn_QA_on.png'), resolve('teacher/images/btn_QA_dis.png'), width('teacher/images/btn_QA.png'), height('teacher/images/btn_QA.png'));
                &.down {
                    background-image: resolve('teacher/images/btn_QA_down.png');
                }
            }
            .btn_role {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1000;
                @include btn_on_dis( resolve('teacher/images/btn_role.png'), resolve('teacher/images/btn_role_on.png'), resolve('teacher/images/btn_role_dis.png'), width('teacher/images/btn_role.png'), height('teacher/images/btn_role.png'));
            }
            .btn_shadowing {
                position: absolute;
                left: 70%;
                transform: translateX(-50%);
                z-index: 1000;
                @include btn_on_dis( resolve('teacher/images/btn_shadowing.png'), resolve('teacher/images/btn_shadowing_on.png'), resolve('teacher/images/btn_shadowing_dis.png'), width('teacher/images/btn_shadowing.png'), height('teacher/images/btn_shadowing.png'));
            }
        }
        .fel_topad {
            @include fel_topad;
        }
        /* 팝업관련*/
        .compre_popup {
            @include CoverPopup(10001);
            background-image: resolve('teacher/images/bg_popup.png');
            width: width('teacher/images/bg_popup.png');
            height: height('teacher/images/bg_popup.png');
            left: -69px;
            top: -118px;
            &>span {
                display: inline-block;
                position: absolute;
                top: 170px;
                left: 266px;
                font-size: 18px;
                letter-spacing: 5.5px;
                color: rgba(0, 0, 0, 0.5);
                line-height: 1.2;
            }
            .btn_close {
                position: absolute;
                top: 170px;
                right: 260px;
                @include btn_down_dis( resolve('teacher/images/btn_popup_close.png'), resolve('teacher/images/btn_popup_close_down.png'), resolve('teacher/images/btn_popup_close.png'), width('teacher/images/btn_popup_close.png'), height('teacher/images/btn_popup_close.png'));
            }
            &>.fel_topad {
                @include fel_topad;
                position: absolute;
                bottom: 190px;
                right: 245px;
            }
            .popup_content {
                width: 788px;
                height: 411px;
                position: absolute;
                top: 206px;
                left: 251px;
                text-align: center;
                &>span:nth-child(1) {
                    font-size: 50px;
                    letter-spacing: -2px;
                    word-spacing: -1px;
                    position: relative;
                    top: 150px;
                }
                &>span:nth-child(2) {
                    display: none;
                }
                &>span:nth-child(3) {
                    display: none;
                }
                &>.img_box {
                    display: none;
                }
            }
            &.ROLE.PLAY {
                /* 19-02-01 'ROLLPLAY' 오타수정 ROLEPLAY 띄워쓰기 추가 */
                &>span {
                    letter-spacing: 0px;
                    word-break: normal;
                    word-spacing: 0px;
                }
                &>div {
                    width: 788px;
                    height: 411px;
                    position: absolute;
                    top: 206px;
                    left: 251px;
                    text-align: center;
                    &>span:nth-child(1) {
                        display: none;
                    }
                    &>span:nth-child(2) {
                        display: inline-block;
                        letter-spacing: -1px;
                        word-spacing: -4px;
                        font-size: 50px;
                        line-height: 1.6;
                        position: relative;
                        top: 20px;
                    }
                    &>span:nth-child(3) {
                        display: none;
                    }
                    .img_box {
                        display: block;
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        top: 100px;
                        &>div {
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            left: 0px;
                            transition: border-color 0.3s ease-in;
                            &>img {
                                vertical-align: top;
                            }
                            /* inline-block 으로 생긴 아래쪽 빈공간 삭제 */
                            .icon_check {
                                position: absolute;
                                top: -20px;
                                left: -25px;
                                /* 위치수정 */
                                opacity: 0;
                                transition: opacity 0.3s ease-in;
                                &.A {
                                    background: resolve('teacher/images/icon_check1.png') no-repeat;
                                    width: width('teacher/images/icon_check1.png');
                                    height: height('teacher/images/icon_check1.png');
                                }
                                &.B {
                                    background: resolve('teacher/images/icon_check2.png') no-repeat;
                                    width: width('teacher/images/icon_check2.png');
                                    height: height('teacher/images/icon_check2.png');
                                }
                            }
                            .onbg {
                                position: absolute;
                                top: -30px;
                                left: -30px;
                                z-index: -1;
                                opacity: 0;
                                &.on {
                                    opacity: 1;
                                }
                            }
                            border-radius: 100%;
                            border: 8px solid transparent;
                            margin: 30px;
                            &.on {
                                /* border-color: #ff0; */
                                .icon_check {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            &.SHADOWING {
                &>span {
                    letter-spacing: 0px;
                }
                &>div {
                    width: 788px;
                    height: 411px;
                    position: absolute;
                    top: 206px;
                    left: 251px;
                    text-align: center;
                    &>span:nth-child(1) {
                        display: none;
                    }
                    &>span:nth-child(2) {
                        display: none;
                    }
                    &>span:nth-child(3) {
                        display: inline-block;
                        font-size: 50px;
                        letter-spacing: -2px;
                        word-spacing: -1px;
                        position: relative;
                        top: 150px;
                    }
                }
            }
        }
        .img_popup {
            @include CoverPopup(10001);
            background-color: rgba(0, 0, 0, 0.8);
            text-align: center;
            &>div {
                display: inline-block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                height: auto;
                &>img {
                    border-radius: 11px;
                    width: 980px;
                }
                .btn_zoom {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    @include btn_down_dis( resolve('teacher/images/img_popup_close.png'), resolve('teacher/images/img_popup_close_down.png'), resolve('teacher/images/img_popup_close.png'), width('teacher/images/img_popup_close.png'), height('teacher/images/img_popup_close.png'));
                }
            }
        }
    }
}