@import '../../../share/Progress_bar.scss';

@mixin rate_box {
    .subject_rate {
        position: absolute;
        color: white;
        text-align: right;
        font-size: 12px;
        padding-right: 25px;
        line-height: 26px;
        width: 87px;
        height: 26px;
        top: -80px;
        left: 4px;
        background-image: resolve('teacher/images/sub_rate.png');
        &.hide {
            display: none;
        }
    }
    .correct_answer_rate {
        width: 118px;
        height: 26px;
        background-image: resolve('teacher/images/correct_answer_rate.png');
        @include compre_correct(-80px, 97px);
        &.no-result {
            padding-top: 7px;
        }
        &.hide {
            display: none;
        }
        .title {
            display: none;
        }
        &>.progress_bar {
            width: 70px;
            &>.data_percent {
                left: 75px;
            }
        }
    }
}