@font-face {
    font-family: Visang_e_HT;
    src: url(/content/digenglish_lib/font/Visang_e_HT.woff) format('woff');
}
@font-face {
    font-family: Visang_e_HT;
    font-weight:bold;
    src: url(/content/digenglish_lib/font/Visang_e_HT_Bold.woff) format('woff');
}

@font-face {
  font-family: NotoSans_bold;
  font-weight:bold;
  src: url(/content/digenglish_lib/font/NotoSansCJKkr-Bold.woff) format('woff');
}
@font-face {
  font-family: NotoSans_light;
  font-weight:lighter;
  src: url(/content/digenglish_lib/font/NotoSans-Light.woff) format('woff');
}
@font-face {
  font-family: NotoSans;
  /* src: url(/content/digenglish_lib/font/NotoSansCJKkr-Medium.woff) format('woff'); */
  src: url(/content/digenglish_lib/font/NotoSansCJK-Medium-en.woff) format('woff');
}
@font-face {
  font-family: HelveticaRounded;
    font-weight:bold;
    src: url(/content/digenglish_lib/font/HelveticaRounded-Bold.woff) format('woff');
}
@font-face {
    font-family: HelveticaRoundedLTStd;
    font-weight:bold;
	src: url(/content/digenglish_lib/font/HelveticaRoundedLTStd-Bd.woff) format('woff');
}

