@import "../../share/sendui.scss";
@import "../table-item/index.scss";

@import "./s_graphic_result.scss";
@import "./s_pentool.scss";
@import "./s_keyboard.scss";

@mixin s_graphic {
  .s_graphic {
    @include page;
    .btn_page_box {
      width: 100%;
      height: 0px;
      display: inline-block;
      position: absolute;
      top: 40px;
      overflow: visible;
      text-align: center;
      z-index: 2;
      cursor: pointer;
      & > span {
        margin: 0px 22px;
        font-size: 30px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.4);
        &.on {
          color: rgb(248, 246, 77);
        }
      }
      &.off {
        display: none;
      }
    }
    .table-container {
      @include page;
      .table-wrapper {
        @include page;
        overflow: visible;
        white-space: nowrap;
        transition: left 0.3s;

        & > div {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 100%;
          height: 100%;
          text-align: center;
          &.single {
            $min-width: 1000px;
            $min-height: 505px;
            $head-font-size: 48px;
            $head-line-height: 73px;
            $content-font-size: 40px;
            $content-padding: 5px 40px 15px 40px;
            $radius: 10px;
            $box-shadow: 0px 4px 2.8px 1.2px rgba(0, 0, 0, 0.3);
            $normal: resolve("student/images/btn_dropdown_down.png");
            $on: resolve("student/images/btn_dropdown_up.png");
            $width: width("student/images/btn_dropdown_down.png");
            $height: height("student/images/btn_dropdown_down.png");
            $line-height: $height + 15px;

            & > div {
              position: absolute;
              left: 0px;
              width: 100%;
              bottom: 0px;
              height: 720px;
              @include mixin_table_item(
                $min-height,
                $min-width,
                $head-font-size,
                $head-line-height,
                $content-font-size,
                $content-padding,
                $radius,
                $box-shadow,
                $normal,
                $on,
                $width,
                $height,
                $line-height
              );

              .table-item {
                margin-top: 60px;
                /*margin-bottom: 240px;*/
                margin-bottom: 60px;
                background: #fff;

                &.type_3,
                &.type_7 {
                  ul.content {
                    & > li {
                      position: relative;

                      & + li {
                        margin-top: 18px;
                      }
                    }
                  }
                }

                &.type_4,
                &.type_5 {
                  max-width: 1109px !important;
                  margin-top: 60px;

                  & > .head {
                    width: 278px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    font-size: 32px;
                    vertical-align: middle;
                    border-radius: 10px 0 0 10px;
                    font-weight: normal;

                    & > span {
                      display: flex;
                      width: 100%;
                      height: 100%;
                      line-height: 50px;
                      align-items: center;
                      justify-content: center;
                      white-space: normal;
                    }
                  }

                  & > .content-box {
                    width: 1109px;
                    padding-left: 278px;
                    overflow: visible;
                    display: block;
                    min-height: auto;

                    & > div {
                      width: 100%;
                      display: block;

                      & > .content {
                        padding: 60px 15px 60px 36px;

                        & > li {
                          min-height: 44px;
                          font-size: 32px;
                          line-height: 56px;
                          margin-right: 30px;
                          & + li {
                            margin-top: 46px;
                          }

                          & > div {
                            color: #323232;

                            & > .select-box {
                              line-height: 45px;
                              vertical-align: middle;
                              margin-bottom: 7px;

                              & > .text-box {
                                height: 47px;
                              }
                              & > .btn-drop {
                                width: 47px;
                                height: 47px;
                                background-size: 46px;
                                background-position: center 2px;
                              }
                              & > .options-box {
                                &.bottom {
                                  left: 0;
                                  bottom: 1px;
                                  overflow: hidden;
                                  border-radius: 0 0 7px 7px;
                                }
                              }
                            }
                          }
                        }

                        &:after {
                          display: block;
                          content: "";
                          clear: both;
                        }
                      }
                    }
                  }
                }

                &.type_5 {
                  & > .swiper-container {
                    & > .swiper-wrapper > .content-box {
                      & > div {
                        & > .content {
                          & > li {
                            & > div {
                              text-indent: -45px;
                            }
                          }
                        }
                      }
                    }
                  }
                }

                &.type_6 {
                  width: 916px;
                  height: 605px;
                  border-radius: 60px;
                  background: #ffd966;
                  padding: 20px 0;

                  & > .head {
                    display: inline-block;
                    background: #c39e2f;
                    border-radius: 5px;
                    padding: 5px 15px;
                    font-size: 45px;
                    font-weight: normal;
                    line-height: 1.2;
                    color: #000;
                  }
                  & > .swiper-container {
                    height: 490px;
                    margin-top: 30px;
                    overflow: hidden;

                    .content-box {
                      min-height: 490px;
                      padding-bottom: 30px;

                      & > div {
                        & > .content {
                          & > li {
                            color: #000;
                            margin-bottom: 30px;
                            font-size: 35px;
                            line-height: 70px;

                            & > div {
                              text-indent: -45px;
                              padding-left: 45px;

                              & > .select-box {
                                line-height: 48px;
                                vertical-align: middle;
                                background: #fff;
                                margin-bottom: 4px;

                                & > .text-box {
                                  height: 52px;
                                }
                                & > .btn-drop {
                                  width: 46px;
                                  height: 52px;
                                  background-size: 60px;
                                  background-position: center -4px;
                                }
                                & > .options-box {
                                  & > div {
                                    line-height: 50px;
                                    padding-bottom: 5px;
                                  }

                                  &.bottom {
                                    left: 0;
                                    bottom: 1px;
                                    overflow: hidden;
                                    border-radius: 0 0 7px 7px;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    .swiper-scrollbar {
                      width: 7px;
                      height: 88%;
                      top: 0;
                      right: 10px;
                      background-color: transparent;
                      .swiper-scrollbar-drag {
                        background-color: rgba(255, 255, 255, 0.5);
                      }
                    }
                  }
                }

                &
                  > .swiper-container
                  > .swiper-wrapper
                  > .swiper-slide
                  > div
                  > .content
                  > li.add {
                  padding-left: 25px;
                  margin-top: 10px !important;
                  margin-bottom: 5px !important;
                  line-height: 1.3;
                  & > div {
                    text-indent: 0 !important;
                  }
                  &:last-child {
                    margin-bottom: 30px !important;
                  }
                }

                & > .head > span > em {
                  font-style: normal;
                  margin: 0 6px;
                }
              }
            }

            &:nth-child(2) {
              .table-item.type_6 {
                background: #2e75b6;
                & > .head {
                  background: #215d8f;
                }
              }
            }

            &:nth-child(3) {
              .table-item.type_6 {
                background: #188f85;
                & > .head {
                  background: #137169;
                }
              }
            }

            /*  rw_comprehension 190425 수정사항 p.24,5 스크롤기능 삭제 */
            .swiper-container {
              position: absolute;
              left: 0px;
              width: 100%;
              bottom: 0px;
              height: 720px;

              .swiper-slide {
                height: auto;
              }
              .swiper-scrollbar {
                width: 7px;
                background-color: transparent;
                .swiper-scrollbar-drag {
                  background-color: rgba(255, 255, 255, 0.3);
                }
              }
            }
            .table-item {
              margin-top: 60px;
              /*margin-bottom: 240px;*/
              margin-bottom: 60px;
              .content > li > div {
                text-indent: -50px;
                padding-left: 50px;
                .select-box {
                  text-indent: 0;

                  & > .options-box {
                    /*&>div {
                                            line-height: 50px;
                                            padding-bottom: 5px;
                                        }*/

                    &.bottom {
                      left: 0;
                      bottom: 1px;
                      overflow: hidden;
                      border-radius: 0 0 7px 7px;
                    }

                    &.top {
                      left: 1px;
                      overflow: hidden;
                      border-radius: 7px 7px 0 0;
                    }
                  }
                }
              }
            }
          }
          &.s_graphic_result {
            @include s_graphic_result;
          }
        }
      }
    }

    .btn_next {
      @include btn_down_dis(
        resolve("student/images/btn_next.png"),
        resolve("student/images/btn_next_down.png"),
        resolve("student/images/btn_next.png"),
        width("student/images/btn_next.png"),
        height("student/images/btn_next.png")
      );
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      z-index: 1;
    }

    @include s_pentool;
    @include s_keyboard;
    .fel_toteacher {
      @include fel_toteacher;
    }
  }
}
