@import "../../common/component/button.scss";
@import "../../config.scss";
@import "../../share/video-direction.scss";
@import "../../share/sendui.scss";

@import "./s_quiz.scss";
@import "./s_voca_typing/index.scss";

@import "./s_speak_record.scss";

#wrap{

	background-image:resolve("student/images/bg_ls.png");
	font-family: NotoSans;
	.eyeon_svg{
		@include page;
		pointer-events: none;
	}
	.goodjob-svg{
		@include page;
	}
	.content-container{
		@include page;

		.content-wrapper{
			position: absolute;
			left: 0px; top: 0px;
			width: 100%;
			height: 100%;
			white-space: nowrap;

			transition: left 0.3s ease-in-out;
			&>div{
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: 100%;
			}
		}
	}
	.video-direction{
		@include video-direction;
		background-image: resolve('common/bg1.jpg');

		&>.movieclip{
			position: absolute;
			right: 20px;
			bottom: -40px;
			width: 330px;
			height: 550px;
		}
		&>div.direction{
			position: absolute;
			background-image: resolve("common/direction.png");
			width: width("common/direction.png");
			height:  height("common/direction.png");
			left: calc(50% - width("common/direction.png")/2);
			top: calc(50% - height("common/direction.png")/2);
		}
		&>div.lesson{
			font-size: 40px;
			position: absolute;
			left: 30px;
			top: 20px;		
			color: #fff;
		}
	}
/*	
	.new-direction{
		@include new-direction;
		background-image: resolve('common/bg1.jpg');
		&>div.direction{
			position: absolute;
			background-image: resolve("common/direction.png");
			width: width("common/direction.png");
			height:  height("common/direction.png");
			left: calc(50% - width("common/direction.png")/2);
			top: calc(50% - height("common/direction.png")/2);
		}
		&>div.icon{
			position: absolute;
			left: 0px;
			top: 0px;
			background-image: resolve("common/bear.png");
			width: width("common/bear.png");
			height:  height("common/bear.png");
		}
		&>div.lesson{
			font-size: 40px;
			position: absolute;
			left: 30px;
			top: 20px;		
			color: #fff;
		}
	}
*/
	@include s_quiz;
	@include s_voca_typing;
	@include s-speak-record;
	.fel_toteacher{
		@include fel_toteacher;
	}
}



